      .actionButtons-14eAc_ .contents-18-Yxp, .inner-tyMogq {
        margin-left: -31px;
      }
  
    .headerTop-2y3V6H {
      background-color: transparent;
      margin-top: 10px;
    }
    .userSelectText-1o1dQ7 {
      margin-left: 12px;
    }
    .avatarPositionNormal-1CZUPk {
      top: 20px;
      margin-left: 10px;
  }
  .profileBadges-1dm1_q, .spinner-3YTkt9 {
    position: absolute;
    top: 5px;
    right: 22.5px;
  }

  .buttonsWrapper-2spIeK {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
