.userPopout-2j1gM4{width: var(--popout-width)!important}
.note-3HfJZ5{margin-left:0}
.headerText-1-WmDq{margin-left:110px!important;margin-bottom:-50px!important;margin-top:-55px; position: relative;}
.nameTagNoCustomStatus-3ocqoK{margin-left:160px!important;margin-bottom:70px!important;margin-top:15px}
.headerNormal-1l1Znk, .headerNormal-1mX3KY, .userPopout-2j1gM4, .bodyInnerWrapper-2bQs1k{background-color:var(--modal-bg)}
.body-3iLsc4, .footer-1N3bR3, .body-2wLx-E, .customStatus-2SDCR6 {background-color:var(--modal-bg) !important}
.avatar-22FtUu, .footer-3naVBw {background-color:var(--modal-bg)!important; border-color: var(--modal-bg)}
.aboutMeSection---MkQa {margin-top: 45px;}
.theme-dark .body-3iLsc4,.theme-dark .footer-1fjuF6{background-color:var(--modal-bg)}
.avatar-2Vndt_.wrapper-1VLyxH{width:90px!important;height:90px!important;bottom:0px!important}
.avatarHint-1E3LMl{width:90px!important;height:90px!important;bottom:0px!important}
.nickname-322DbL.size20-2QkeeC .botTag-7aX5WZ,.headerTagNoNickname-3ak9o8.headerTag-nSOkYt.size14-y91Il2.size20-2QkeeC .botTag-7aX5WZ{position:relative;top:1px!important}
.avatarHint-1E3LMl foreignObject{mask:none}
.nameTag-2Nlmsy, .relationshipButtons-3ByBpj {
  margin-left: 240px;
}
.profileBadges-2pItdR{position:absolute;top:50.5px;left:-30px;justify-content:center}
.badgeList-2aoHPw{position:absolute;top:50.5px;left:-130px;top: 60px; justify-content:center}
.powercord-badge-wrapper {display: none;}
.customStatus-3XAoF9 {
  margin-top: 15px;
  margin-bottom: -10px;
}
.setIdentityLink-hOFsMl {margin-left: 250px;font-size: 12px;margin-top: -21px;}
.roleCircle-1EgnFN {border-radius: 10%;width: 3.5px;height: 20px;padding: 0;margin-left: -5.5px;margin-right: 8px;}
.role-2TIOKu {font-size: 12px;font-weight: 500;border: 0px solid;background-color: #3e434754;border-radius: 0px;-webkit-box-sizing: border-box;box-sizing: border-box;height: 22px;margin: 0 8px 4px 0;padding: 4px;}
.aboutMeSection-3bipSD {padding-top: 3px;margin-left: 120PX;background-color: transparent;}
.profileBannerPremium-KD60EB[style*="background-image"] {top: -10PX}
.popoutBannerPremium-3i5EEI{width: var(--popout-width); height: 150px;}
.popoutBanner-3cqRD9{width: var(--popout-width)}
.avatarPositionPremium-1zPBq9 {
  margin-top: 10px;
}
.avatar-22FtUu {top: 0px;}

/* -- Activities -- */
.activityUserPopout-2MzGCj { 
padding: 16px; margin: 8px; 
border-radius: 5px;
overflow: hidden;
}

.theme-dark .newPopoutActivityStyles .headerText-3g1XK9,
.theme-dark .newPopoutActivityStyles .activityName-3YXl6e, .theme-dark .newPopoutActivityStyles .content-tXPNDw, 
.theme-dark .newPopoutActivityStyles .details-2-ciHo, .theme-dark .newPopoutActivityStyles .name-1-Q7l2, 
.theme-dark .newPopoutActivityStyles .nameNormal-2fPMD2, .theme-dark .newPopoutActivityStyles .nameWrap-3TyM52  { color: white;}

.theme-dark .userPopout-3XzG_A .spotifyIcon-2J9kSv { display: none;}
.activityUserPopout-2MzGCj { z-index: 1;}

.theme-dark .activityUserPopout-2MzGCj .button-f2h6uQ {
border: none;
background-color: #0000007e;
color: var(--alt-color2);
transition: 0.15s;
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
background-color: rgba(0, 0, 0, 0.466) !important;
}
/* Playing */
.userPopout-3XzG_A .contentGameImageUserPopout-34d8To::after {
content: ""; position: absolute;
width: 580px; height: 300px; z-index: -1;
margin-left: -120px; margin-top: -132px;
background: var(--alt-color2);
}
.theme-dark .contentImagesUserPopout-Kqai8z::after {
content: ""; position: absolute;
width: 580px; height: 350px; z-index: -1;
margin-left: -200px; margin-top: -132px;
background: var(--alt-color2);
}
.profileBannerPremium-KD60EB {
width: var(--modal-bg);
}
.userPopout-3XzG_A .contentGameImageUserPopout-34d8To + div .button-f2h6uQ {
border: none;
background-color: #e9edff;
color: var(--alt-color2);
transition: 0.15s;
}
.userPopout-3XzG_A .contentGameImageUserPopout-34d8To + div .button-f2h6uQ:hover { background-color: #fff;}
.userPopout-3XzG_A .contentGameImageUserPopout-34d8To + div .button-f2h6uQ:active { 
box-shadow: none;
transform: translateY(1px);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
background-color: var(--modal-bg) !important}

/* Spotify */
.userPopout-3XzG_A .timeBarUserPopout-qLXZaR::after {
content: ""; position: absolute;
width: 580px; height: 350px; z-index: -1;
margin-left: -20px; margin-top: -132px;
background: var(--spotify-color);
}

.userPopout-3XzG_A .timeBarUserPopout-qLXZaR + div .button-f2h6uQ {
border: none;
background-color: #e1f1e6;
color: var(--spotify-color);
transition: 0.15s;
}
.userPopout-3XzG_A .timeBarUserPopout-qLXZaR + div .button-f2h6uQ:hover { background-color: #fff;}
.userPopout-3XzG_A .timeBarUserPopout-qLXZaR + div .button-f2h6uQ:active { 
box-shadow: none;
transform: translateY(1px);
}

/* USRBG */
.userPopout-3XzG_A[style*="--user-background"] .profileBanner-1owKI5 {
height: 180px;
background: var(--user-background) center / cover;
margin: 12px;
border-radius: 6px;
}
.userPopout-3XzG_A[style*="--user-background"] .avatarPositionNormal-1CZUPk {
top: 110px;
}
.userPopout-3XzG_A[style*="--user-background"] .headerText-2WJ44e.userSelectText-1wo4Nm {
margin-top: -65px;
}
.userPopout-3XzG_A[style*="--user-background"] .profileBadges-1dm1_q {
margin-top: -15px;
}
.userPopout-3XzG_A[style*="--user-background"] .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
background-color: var(--modal-bg);
}
.userPopout-3XzG_A[style*="--user-background"] .headerTagNoNickname-1VyQza, .customStatus-3NamXG {
margin-top: -68px;
}
.userPopout-3XzG_A[style*="--user-background"] .profileBadges-3cJaE1 {
margin-top: -18px;
}
.userPopout-3XzG_A[style*="--user-background"] .headerTop-2cWpdB {
height: 12px;
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
background-color: var(--alt-color2);
}
