/* ---------------------------------------------


      ░█████╗░  ██╗░░░██╗  ███████╗  ██╗░░░░░
      ██╔══██╗  ██║░░░██║  ██╔════╝  ██║░░░░░
      ██║░░██║  ╚██╗░██╔╝  █████╗░░  ██║░░░░░
      ██║░░██║  ░╚████╔╝░  ██╔══╝░░  ██║░░░░░
      ╚█████╔╝  ░░╚██╔╝░░  ███████╗  ███████╗
      ░╚════╝░  ░░░╚═╝░░░  ╚══════╝  ╚══════╝

           █ █▀▄▀█ █▀█ █▀█ █▀█ ▀█▀ █▀
           █ █░▀░█ █▀▀ █▄█ █▀▄ ░█░ ▄█

                     v0.5

   --------------------------------------------- */

/* Base Imports */
@import "https://leeprky.github.io/themes/BaseStuff/alt-color.css";
@import "https://leeprky.github.io/themes/FullyThemedDiscord/FullyThemedDiscord.css";
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://leeprky.github.io/snippits/coolsniipitsforthemes.css);
@import "https://raw.githack.com/mr-miner1/Better-Badges/main/theme.css";
@import url(https://leeprky.github.io/themes/lode/default/support/gradients/luckfiregradientbuttons.css);
@import url(https://leeprky.github.io/themes/GreenBeGo/greenple-replacer.css);

/* Essential Imports */

/* Titlebar */
@import "https://leeprky.github.io/themes/Ovel/imports/00-titlebar/titlebar.css";

/* Serverlist */
@import "https://leeprky.github.io/themes/Ovel/imports/01-serverlist/serverlist.css";
@import "https://leeprky.github.io/themes/Ovel/imports/01-serverlist/name-panel.css";

/* Memberlist */
@import "https://leeprky.github.io/themes/Ovel/imports/02-memberlist/memberlist.css";

/* Channellist */
@import "https://leeprky.github.io/themes/Ovel/imports/03-channellist/panel.css";
@import "https://leeprky.github.io/themes/Ovel/imports/03-channellist/channel-list.css";

/* Chat Content Area */
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/chatbox.css";
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/chat-content.css";
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/channel-header.css";

/* Settings Area */
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/setting-alignment.css";
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/account-info.css";

/* Settings Area > Friends Area */
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/05.1-friends/directmessages.css";

/* Modals */
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/modal-popout.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/usrbg.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/modal-expanded.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/activities.css";

/* Extras */
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/variables.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/pills.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/nag-bar.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/extra.css";

/* Colour */
@import "https://leeprky.github.io/themes/Ovel/imports/08-colours/Ovel.css";


/* ---------------------------------------------

        ██████╗░░█████╗░░██████╗███████╗
        ██╔══██╗██╔══██╗██╔════╝██╔════╝
        ██████╦╝███████║╚█████╗░█████╗░░
        ██╔══██╗██╔══██║░╚═══██╗██╔══╝░░
        ██████╦╝██║░░██║██████╔╝███████╗
        ╚═════╝░╚═╝░░╚═╝╚═════╝░╚══════╝

   --------------------------------------------- */

.theme-dark, .theme-light {
   --version: "1.0.0";
   --version-long: "Ovel v1.0.0 By Leeprky#2063";
}

/* Rounded Corners */
body{
 background-color: transparent !important;
}
#app-mount{
 border-radius: var(--app-rounding) !important; 
}

