/* ---------------------------------------------


      ░█████╗░  ██╗░░░██╗  ███████╗  ██╗░░░░░
      ██╔══██╗  ██║░░░██║  ██╔════╝  ██║░░░░░
      ██║░░██║  ╚██╗░██╔╝  █████╗░░  ██║░░░░░
      ██║░░██║  ░╚████╔╝░  ██╔══╝░░  ██║░░░░░
      ╚█████╔╝  ░░╚██╔╝░░  ███████╗  ███████╗
      ░╚════╝░  ░░░╚═╝░░░  ╚══════╝  ╚══════╝

           █ █▀▄▀█ █▀█ █▀█ █▀█ ▀█▀ █▀
           █ █░▀░█ █▀▀ █▄█ █▀▄ ░█░ ▄█

                    v1.0.5.2

   --------------------------------------------- */

/* Base Imports */
@import "https://leeprky.github.io/themes/BaseStuff/alt-color.css";
@import "https://leeprky.github.io/themes/FullyThemedDiscord/FullyThemedDiscord-OvelEdit.css";
/* @import "https://leeprky.github.io/themes/FullyThemedDiscord/FullyThemedDiscord.css"; */
@import "https://leeprky.github.io/snippits/coolsniipitsforthemes.css";
@import "https://leeprky.github.io/themes/lode/default/support/gradients/luckfiregradientbuttons.css";
@import "https://leeprky.github.io/themes/GreenBeGo/greenple-replacer.css";

/* Other User Imports */
@import "https://raw.githack.com/mr-miner1/Better-Badges/main/theme.css";
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css";

/* Essential Imports */

/* Titlebar - 01*/
@import "https://leeprky.github.io/themes/Ovel/imports/00-titlebar/titlebar.css";

/* Serverlist - 01 */
@import "https://leeprky.github.io/themes/Ovel/imports/01-serverlist/serverlist.css";
@import "https://leeprky.github.io/themes/Ovel/imports/01-serverlist/name-panel.css";

/* Memberlist - 02*/
@import "https://leeprky.github.io/themes/Ovel/imports/02-memberlist/memberlist.css";

/* Channellist - 03 */
@import "https://leeprky.github.io/themes/Ovel/imports/03-channellist/panel.css";
@import "https://leeprky.github.io/themes/Ovel/imports/03-channellist/channel-list.css";

/* Chat Content Area - 04 */
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/chatbox.css";
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/chat-content.css";
@import "https://leeprky.github.io/themes/Ovel/imports/04-content/channel-header.css";

/* Settings Area - 05 */
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/setting-alignment.css";
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/account-info.css";

/* Settings Area > Friends Area - 05.1 */
@import "https://leeprky.github.io/themes/Ovel/imports/05-settings/05.1-friends/directmessages.css";

/* Modals - 06 */
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/modal-popout.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/usrbg.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/modal-expanded.css";
@import "https://leeprky.github.io/themes/Ovel/imports/06-modals/activities.css";

/* Extras - 07 */
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/variables.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/pills.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/nag-bar.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/extra.css";
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";

/* Colour - 08 */
@import "https://leeprky.github.io/themes/Ovel/imports/08-colours/Ovel.css";

/* Support - 09 */
@import "https://leeprky.github.io/themes/Ovel/imports/09-support/plugins/nsfw-text.css";

/* Background - 10 */
@import "https://leeprky.github.io/themes/Ovel/imports/10-background/body-background.css";


/* ---------------------------------------------

        ██████╗░░█████╗░░██████╗███████╗
        ██╔══██╗██╔══██╗██╔════╝██╔════╝
        ██████╦╝███████║╚█████╗░█████╗░░
        ██╔══██╗██╔══██║░╚═══██╗██╔══╝░░
        ██████╦╝██║░░██║██████╔╝███████╗
        ╚═════╝░╚═╝░░╚═╝╚═════╝░╚══════╝

   --------------------------------------------- */

/* Latest Version */
:root {
   --theme: "Ovel";
   --version-latest: "v1.0.5.2";
   --version-latest-long: "Latest Version: " var(--version-latest);
   --version-long: "Current Version: " var(--version);
}
.info-1VyQPT::after {
  content: var(--version-latest-long) !important;
  color: var(--alt-color2);
  opacity: 0.4;
  filter: brightness(160%);
  display: block;
  font-size: 12px;
  font-family: var(--font-primary);
  font-weight: 600;
}
.info-1VyQPT::before {
    content: var(--version-long) !important;
    color: var(--alt-color2);
    opacity: 1;
    filter: brightness(180%);
    display: block;
    font-size: 12px;
    font-family: var(--font-primary);
    font-weight: 400;
    position: absolute;
    margin-top: 80px;
}
