/* Outdated Version Code*/
:root {
   --theme: "BetterDefaultDiscord";
   --build-latest: "46";
   --version-latest: "v2.1.0";
   --version-latest-long: "Version: " var(--version-latest) " (Latest) ";
   --version-long: "Version: " var(--version) " (Current) ";
   --theme-dl: "https://github.com/leeprky/BetterDefaultDiscord"
}

[id*="BetterDefaultGlasscord"] .bd-addon-header .bd-meta:before {
       content:"Build " var(--build) " | ";
   }

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before{display:var(--outdated_betterdefaultglasscord-046,block)!important;position:absolute;left:32%!important;width:fit-content;border-radius:0 0 12px 12px!important;top:48px!important}
