.avatar-SmRMf2, .avatar-VxgULZ, .icon-27yU2q {position: relative;border-radius: var(--avatar-radius) !important;}
   .theme-dark .tooltipPrimary-1d1ph4, .theme-light .tooltipPrimary-1d1ph4 {
    top: 24px !important;
    position: relative;
}
.formNotice-2_hHWR, .cardPrimaryOutline-29Ujqw ,.powercord-account, .powercord-product, .theme-dark .card-o7rAq-, .theme-dark .card-3IImnr, .connectionOptionsWrapper-3KIj1Z{
  background-color: var(--background-tertiary);
}

 /* Show Discord, even when you're offline */
.container-16j22k {
   background: transparent;
   pointer-events: none;
 }
 .container-16j22k * {
   display: none;
 }
 .container-16j22k::before {
   content: 'No Internet';
   display: block;
   bottom: 24px;
   right: 24px;
   position: absolute;
   padding: 8px 16px;
   background-color: var(--red-hsl);
   border-radius: 4px;
   color: #fff;
 }
