.noticeWrapper-8z511t,.notice-3bPHh-,.notice-3uyY6c{margin-left:340px;margin-top:50px;width:720px;position:absolute}
.notice-3bPHh-,.notice-3uyY6c{border-radius:0 0 12px 12px!important}
.noticeRegion-1YviSH{margin-bottom:-15px}
.container-2VW0UT.elevationHigh-1PneE4{background-color:var(--alt-color2)!important;border-radius:12px 12px 12px 12px;width:820px;margin-left:20px}
