.newMessagesBar-265mhP{height:40px;margin-left:5px;margin-right:18px;border-radius:0 0 12px 12px}
.barButtonMain-3K-jeJ,.span-1mKrMp{align-content:center;align-self:center;align-items:center}
[class="barButtonAlt-mYL1lj barButtonBase-2uLO1z"]{font-size:0}
.jumpToPresentBar-G1R9s6{height:30px;margin-left:18px;margin-right:18px}
.barButtonIcon-3t4V3d path[d="M12.291 5.70697L15.998 9.41397L21.705 3.70697L20.291 2.29297L15.998 6.58597L13.705 4.29297L12.291 5.70697ZM1.99805 7H11.088C11.564 9.837 14.025 12 16.998 12V18C16.998 19.103 16.102 20 14.998 20H8.33205L2.99805 24V20H1.99805C0.894047 20 -0.00195312 19.103 -0.00195312 18V9C-0.00195312 7.897 0.894047 7 1.99805 7Z"]{d:path("M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z")}
.unread-2lAfLh{margin-left:-1px;border-radius:8px;height:20px;margin-top:-10px}
.app-focused .isUnread-3Ef-o9{border-color:var(--background-accent3)!important}
.unreadPill-2HyYtt{background-color:var(--background-accent3)}
.unreadPillCap-3_K2q2{fill:var(--background-accent2)!important}
.botTag-2WPJ74{border-radius:20px!important}
