/* Extras */
::-webkit-scrollbar{display:var(--scrollbars)}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Help"]{display: none;}

/* Colours */
.selected-1GqIat .icon-22AiRD{color:var(--interactive-active-icons)}
.clickable-3rdHwn:hover .icon-22AiRD{color:var(--interactive-hover-icons);transition:.7s}

/* Version */
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
  content: var(--version-long);
  color: var(--alt-color2);
  filter: brightness(160%);
  display: block;
}
