::-webkit-scrollbar{display:var(--scrollbars)}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Help"]{display:none}
.selected-1GqIat .icon-22AiRD{color:var(--interactive-active-icons)}
.clickable-3rdHwn:hover .icon-22AiRD{color:var(--interactive-hover-icons);transition:.7s}
.info-1VyQPT::after {
  content: "Latest Version: v1.0.4.4";
  color: var(--alt-color2);
  opacity: 0.4;
  filter: brightness(160%);
  display: block;
  font-size: 12px;
  font-family: var(--font-primary);
  font-weight: 600;
}
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
  margin-top: 10px;
}
