           :root {
           
               /* Gradients */
               --default-gradient: 315deg, #419E85 0%, #338a73 74%;
               --special-gradient: 315deg, #419E85 0%, #c987b8 74%;
               --red-gradient: 315deg, #AA3738 0%, #F04747 74%;
               --red-hsl: hsl(359, 63%, 53%);
               --yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;
               --yellow-hsl: hsl(46, 72%, 52%);
               --green-gradient: 315deg, #507a73 0%, #4b7c72  74%;
               --grey-gradient: 315deg, #54b399 0%, #5cb9a0 74%;
               --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;
}

.theme-dark {
           
   --channeltextarea-background: #1e2335 !important;

   --alt-color: 65, 158, 133 !important;
   --alt-color2: #419e85 !important; 
   
   --playing-color: var(--alt-color2) !important; 
   --spotify-color: var(--alt-color2) !important;
   --streaming-color: rgb(127, 50, 179) !important; 
   
    /* Header Colors */
    --header-primary: #FFFFFF !important; 
    --header-secondary: #c7c7c7 !important; 
    --channels-headings: var(--alt-color2) !important; 
  
    /* Text Colours */
    --text-normal: #F0F0F0 !important; 
    --text-muted: #B3B3B3 !important; 
    --text-link: var(--alt-color2) !important; 
    --channels-default: #dddddd !important; 
    --interactive-normal: #F0F0F0 !important; 
    --interactive-hover: #F0F0F0 !important; 
    --interactive-hover-icons: var(--background-accent2) !important; 
    --interactive-active: #fefeff !important; 
     --interactive-active-icons: var(--background-accent2) !important; 
    --interactive-muted: #585858 !important; 
   
    /* Background Colours */
    --background-primary: #252a3e !important; 
    --background-primary-alt: #1d2233 !important; 
    --background-secondary: #1e2337 !important; 
    --background-secondary-alt: #1b1d31 !important;
    --background-tertiary: #101320; 
    --background-accent: var(--alt-color2) !important; 
    --background-floating: #141825 !important; 
   
    /* Mentioned  Colours */
    --background-mentioned: rgba(var(--alt-color), 0.2) !important; 
    --background-mentioned-hover: rgba(var(--alt-color), 0.4) !important; 
    --info-warning-foreground: #bdbdbdc5 !important;
   
    --background-help-warning: rgba(250,166,26,0.1) !important; 
    --background-help-info: rgba(0,176,244,0.1) !important; 
   
    /* Scrollbar Colours */
    --background-modifier-hover: rgba(var(--alt-color), 0.2) !important; 
    --background-modifier-active: rgba(var(--alt-color), 0.8) !important; 
    --background-modifier-selected: rgba(var(--alt-color), 0.5) !important;  
    --background-modifier-accent: rgba(var(--alt-color), 0.1) !important;  
   
   /* Box Shadow On Floating Elements Colours */
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important; 
   --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important; 
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important; 
   
   --scrollbar-thin-thumb: #6c6c6c !important; 
   --scrollbar-thin-track: #17171700 !important;
   --scrollbar-auto-thumb: #6c6c6c !important;
   --scrollbar-auto-track: #17171700 !important; 
   --scrollbar-auto-scrollbar-color-thumb: #6c6c6c !important; 
   --scrollbar-auto-scrollbar-color-track: #171717da !important; 
       
   /* Other */
   --radio-group-dot-foreground: var(--alt-color) !important; 
   }


   /* █░░ █ █▀▀ █░█ ▀█▀
      █▄▄ █ █▄█ █▀█ ░█░ */

 .theme-light {
 
   --channeltextarea-background: #f7f6ff !important;
  
   --alt-color: 65, 158, 133 !important;
   --alt-color2: #419e85 !important; 
   
   --scrollbars: block !important; 
   --public-servers: block !important; 
   --playing-color: var(--alt-color2) !important; 
   --spotify-color: var(--alt-color2) !important; 
   --streaming-color: rgb(127, 50, 179) !important; 
   
    /* Header Colors */
    --header-primary: #1A1A1A !important; 
    --header-secondary: #5E5D5F !important; 
    --channels-headings: var(--alt-color2) !important; 
  
    /* Text Colours */
    --text-normal: #585858 !important; 
    --text-muted: #9e9d9d !important; 
    --text-link: var(--alt-color2) !important; 
    --channels-default: #585858 !important; 
    --interactive-normal: #585858 !important; 
    --interactive-hover: #424242 !important; 
    --interactive-hover-icons: var(--background-accent2) !important; 
    --interactive-active: #333333 !important; 
     --interactive-active-icons: var(--background-accent2) !important; 
    --interactive-muted: #989898 !important; 
   
    /* Background Colours */
  --background-primary: #fafafa !important;
  --background-primary-alt: #F3F3F3 !important; 
  --background-secondary: #f7f7f7 !important;
  --background-secondary-alt: #fff !important;
  --background-tertiary: #fff !important; 
  --background-accent: var(--alt-color2) !important; 
  --background-floating: #ffffff !important; 
   
    /* Mentioned  Colours */
    --background-mentioned: #fcfcfc !important; 
    --background-mentioned-hover: #ebebeb !important; 
    --info-warning-foreground: #1f1e1ec5 !important;
   
    --background-help-warning: rgba(250,166,26,0.1) !important;
    --background-help-info: rgba(0,176,244,0.1) !important; 
   
    /* Scrollbar Colours */
    --background-modifier-hover: rgba(var(--alt-color), 0.2) !important; 
    --background-modifier-active: rgba(var(--alt-color), 0.8) !important; 
    --background-modifier-selected: rgba(var(--alt-color), 0.5) !important;  
    --background-modifier-accent: rgba(var(--alt-color), 0.1) !important;   
   
   /* Box Shadow On Floating Elements Colours */
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important; 
   --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important; 
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important; 
   
   --scrollbar-thin-thumb: #8A8A8A !important; 
   --scrollbar-thin-track: #f7f7f700 !important;
   --scrollbar-auto-thumb: #8A8A8A !important;
   --scrollbar-auto-track: #ffffff36 !important; 
   --scrollbar-auto-scrollbar-color-thumb: #6c6c6c !important; 
   --scrollbar-auto-scrollbar-color-track: #171717da !important; 
       
   /* Other */
   --radio-group-dot-foreground: var(--alt-color2) !important; /* Ignore */
   }
