/*  █▀▄ ▄▀█ █▀█ █▄▀
    █▄▀ █▀█ █▀▄ █░█ */
   
.theme-dark {

   --channeltextarea-background: #232b41 !important;

   --bd-color: #53b6a7 !important; 
   --bd-color-hover: #53b6a7 !important; 
   --alt-color: 56, 168, 151; /* RGB */
   --alt-color2: #1bb69f; /* HEX */
   
   --playing-color: var(--alt-color2) !important; 
   --spotify-color: var(--alt-color2) !important;
   --streaming-color: rgb(127, 50, 179) !important; 
   
    /* Header Colors */
    --header-primary: #fff !important; 
    --header-secondary: #b9bbbe !important; 
    --channels-headings: var(--alt-color2) !important; 
  
    /* Text Colours */
    --text-normal: #f7f4f4;
    --text-muted: #a39897;
    --text-link: var(--alt-color2);
    --channels-default: #ddd5d3;
    --interactive-normal: #EAE1DF;
    --interactive-hover: #EAE1DF;
    --interactive-active: #fff;
    --interactive-muted: #505355;
   
    /* Background Colours */
    --background-primary: #191f30;
    --background-titlebar: #191f308f;
    --background-primary-alt: #191f30;
    --background-secondary: #191f30;
    --background-secondary-alt: #191f30;
    --background-tertiary: #2c344d;
    --background-accent: var(--alt-color2);
    --background-floating: #2b3341;
   
    /* Mentioned  Colours */
    --background-mentioned: rgba(56, 168, 151, 0.233);
    --background-mentioned-hover: rgba(56, 168, 151, 0.322);
    --info-warning-foreground: var(--alt-color2) !important;
   
    --background-help-warning: rgba(250,166,26,0.1) !important; 
    --background-help-info: rgba(0,176,244,0.1) !important; 
   
    /* Scrollbar Colours */
    --scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
    --scrollbar-auto-track: rgba(56, 168, 151, 0.363);
    --scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);
   
   /* Box Shadow On Floating Elements Colours */
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important; 
   --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important; 
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important; 
   
   --scrollbar-thin-thumb: #eaedf100 !important; 
   --scrollbar-thin-track: transparent !important;
   --scrollbar-auto-thumb: var(--alt-color2) !important; 
   --scrollbar-auto-track: #26272902 !important; 
   --scrollbar-auto-scrollbar-color-thumb: #f0f3f8 !important; 
   --scrollbar-auto-scrollbar-color-track: #2f313600 !important; 
       
   /* Other */
   --radio-group-dot-foreground: var(--alt-color) !important; 
   }


   /* █░░ █ █▀▀ █░█ ▀█▀
      █▄▄ █ █▄█ █▀█ ░█░ */

      .theme-light {
 
         --channeltextarea-background: #d6e4ee !important;    
        
         --bd-color: #53b6a7 !important; 
         --bd-color-hover: #53b6a7 !important; 
         --alt-color: 83, 182, 167; /* RGB */
         --alt-color2: #53b6a7; /* HEX */
         
         --scrollbars: block !important; 
         --public-servers: block !important; 
         --playing-color: var(--alt-color2) !important; 
         --spotify-color: var(--alt-color2) !important; 
         --streaming-color: rgb(127, 50, 179) !important; 
         
          /* Header Colors */
          --header-primary: #0f0f0e;
          --header-secondary: rgb(43, 45, 46);
          --channels-headings: var(--alt-color2) !important; 
        
          /* Text Colours */
          --text-normal: #111010;
          --text-muted: var(--alt-color2);
          --text-link: var(--alt-color2);
          --channels-default: #242221;
          --interactive-normal: #080808;
          --interactive-hover: #1a1818;
          --interactive-active: rgb(19, 17, 17);
          --interactive-muted: #505355;
         
          /* Background Colours */
          --background-primary: #cad7e0;
          --background-titlebar: #cad7e0;
          --background-primary-alt: #cad7e0;
          --background-secondary: #cad7e0;
          --background-secondary-alt: #cad7e0;
          --background-tertiary: #eceff3;
          --background-accent: var(--alt-color2);
          --background-floating: #bbc8d1;
         
          /* Mentioned  Colours */
          --background-mentioned: rgba(56, 168, 151, 0.308);
          --background-mentioned-hover: rgba(56, 168, 151, 0.425);
          --background-mentioned-bar: var(--background-accent) !important;  
         
          --background-help-warning: rgba(250,166,26,0.1) !important; 
          --background-help-info: rgba(0,176,244,0.1) !important;  
         
          /* Scrollbar Colours */
          --background-modifier-hover: rgba(56, 168, 151, 0.411);
          --background-modifier-active: rgba(56, 168, 151, 0.651);
          --background-modifier-selected: rgba(56, 168, 151, 0.37);
          --background-modifier-accent: rgba(56, 168, 151, 0.534);
         
         /* Box Shadow On Floating Elements Colours */
         --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important;  
         --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important; 
         --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important;  
         --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important;  
         
         --scrollbar-thin-thumb: #01011300 !important;  
         --scrollbar-thin-track: transparent !important;  
         --scrollbar-auto-thumb: var(--alt-color2) !important;  
         --scrollbar-auto-track: #1b315c02 !important;  
         --scrollbar-auto-scrollbar-color-thumb: #f0f3f8 !important;  
         --scrollbar-auto-scrollbar-color-track: #2d56be00 !important;  
             
         /* Other */
         --radio-group-dot-foreground: var(--alt-color2) !important;  /* Ignore */
         }
