:root{--friend-width:170px;--friend-height:170px;--friend-blur:0px}
.peopleColumn-29fq28 .scrollerBase-289Jih>div:not(.peopleList-3c4jOR){display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;margin-top:15px}
.peopleColumn-29fq28 {display: block;overflow: hidden scroll;}
.peopleListItem-2nzedh{position:relative;display:block!important;height:var(--friend-width)!important;width:var(--friend-height);margin:1.8%!important;padding:0!important;border-radius:3px;box-shadow:0 0 12px rgba(0,0,0,0.25);background-color:var(--background-tertiary);animation:friendGridFade .75s ease;transition:250ms ease all,350ms ease background-color;display:none}
.title-30qZAO{margin:0;position:absolute;top:5px;font-size:15px;color:var(--brand-experiment-95a);filter:brightness(130%);font-weight:700}
.peopleListItem-2nzedh:hover{background-color:var(--brand-experiment-30a)!important;box-shadow:0 0 14px rgba(0,0,0,0.5)!important}
.actions-1SQwjn{display:none}
.peopleListItem-2nzedh:hover .actions-1SQwjn{position:absolute;display:flex;bottom:10px;right:-2px;transform:scale(0.7)}
.text-37NqbO{width:150px;position:relative;margin-left:-95px}
.userInfo-2zN2z8 .avatar-3W3CeO{transform:scale(2.8);margin-top:36%;margin-left:50%;filter:blur(var(--friend-blur))}
.userInfo-2zN2z8{height:160px;position:relative;width:135px;filter:blur(var(--friend-blur))}
.username-31C1TQ{white-space:nowrap;text-overflow:ellipsis;overflow:visible;color:var(--header-primary);font-weight:600}
