.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 221px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 642px;
  animation-duration: 1000ms;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 328px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 13px auto 26px;
  padding: 8px 43px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-1 .u-text-1 {
    width: 643px;
  }

  .u-section-1 .u-text-2 {
    width: 484px;
    margin-right: 229px;
    margin-left: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 296px;
}

.u-section-2 .u-accordion-1 {
  margin-bottom: 26px;
  margin-top: 19px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-2 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 90px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px 1px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 90px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 90px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 30px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-text-1 {
  width: 539px;
  margin: 27px auto 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 539px;
  margin: 10px auto 0;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  animation-duration: 1000ms;
  margin: 17px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: 29px 422px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -34px 587px 46px 503px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 222px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 487px;
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 2px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 377px;
    margin-left: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-3 .u-video-1 {
    height: 438px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 287px;
    margin-left: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .embed-responsive-1 {
    width: 188%;
    height: 100%;
    left: -44%;
    top: 0%;
  }

  .u-section-3 .u-text-3 {
    margin-right: 187px;
    margin-left: 103px;
  }
}