.u-section-1 .u-sheet-1 {
  min-height: 342px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 50px 68px 0;
}

.u-section-1 .u-text-2 {
  width: 480px;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0 415px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -49px 414px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 673px;
}

.u-section-2 .u-image-1 {
  width: 804px;
  height: 443px;
  margin: 74px auto 0 -48px;
}

.u-section-2 .u-text-1 {
  margin: -436px auto 0 765px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 16px 25px 60px 765px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 631px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 397px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -390px;
    margin-left: 483px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 298px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -291px;
    margin-left: 362px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -181px;
    margin-left: 228px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 228px;
  }
}