.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 324px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 593px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 262px 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: 18px auto 0 350px;
  padding: 10px 61px 10px 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: -46px 351px 0 auto;
  padding: 8px 61px 8px 60px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  margin: 11px 522px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 162px;
    margin-right: 162px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 250px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 251px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 54px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 32px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 20px;
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 296px;
}

.u-section-2 .u-slider-1 {
  min-height: 295px;
  width: 751px;
  margin: 1px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 264px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 17px 180px 0;
}

.u-section-2 .u-text-3 {
  margin: 15px 200px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 264px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 8px -80px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 17px 251px 0;
}

.u-section-2 .u-text-6 {
  margin: 8px 200px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 294px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 9px 233px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 15px 246px 0;
}

.u-section-2 .u-text-9 {
  margin: 15px 253px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
}

.u-section-2 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 1px;
    width: 724px;
    height: auto;
    margin-bottom: 35px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 232px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 191px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 266px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: 186px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 219px;
    margin-left: 247px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 358px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 379px;
    margin-left: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 209px;
    margin-left: 370px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 248px;
    margin-left: 227px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 262px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 268px;
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
    margin-bottom: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 51px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 165px;
    margin-left: 302px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 180px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 207px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 220px;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 254px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-text-4 {
    width: 216px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 102px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 458px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px auto 20px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 400;
  border-style: none;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 400;
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 137px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 629px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 185px;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 13px auto 0;
  padding: 10px 40px 10px 39px;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-rotation-parent-1 {
  width: 1137px;
  height: 626px;
  margin: 34px 0 24px auto;
}

.u-section-4 .u-image-1 {
  width: 1137px;
  height: 626px;
  filter: brightness(0.9);
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-2 {
    width: 172px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 940px;
    height: 518px;
    margin-top: -269px;
    margin-left: 0;
    margin-bottom: 27px;
  }

  .u-section-4 .u-image-1 {
    filter: brightness(0.75);
    width: 940px;
    height: 518px;
    margin: 322px auto 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-text-2 {
    width: 178px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 720px;
    height: 397px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 540px;
    height: 298px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 340px;
    height: 188px;
    margin-top: -279px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 188px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 558px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 20px auto 20px 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
}

.u-section-5 .u-list-item-1 {
  background-position: 0% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 100%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 270px 74px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-position: 0% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 100%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 270px 74px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-position: 0% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 270px 74px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
    min-height: 309px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
    min-height: 710px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
    min-height: 375px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 14.6667px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 14.666666666666666px);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 593px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 71px 0 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-list-1 {
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
}

.u-section-6 .u-image-1 {
  animation-duration: 1000ms;
  background-position: 0% 0%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 288px 55px 0 1px;
}

.u-section-6 .u-text-3 {
  margin: 24px -9px 0 1px;
}

.u-section-6 .u-image-2 {
  animation-duration: 1000ms;
  background-position: 9.92% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 288px 55px 0 1px;
}

.u-section-6 .u-text-5 {
  margin: 24px -9px 0 1px;
}

.u-section-6 .u-list-item-3 {
  background-position: 0% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 288px 55px 0 1px;
}

.u-section-6 .u-text-7 {
  margin: 24px -9px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11.000025px);
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    grid-auto-rows: calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 14.666666666666666px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 420px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 68px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 22px auto 0 0;
  padding: 8px 15px 8px 14px;
}

.u-section-7 .u-icon-1 {
  color: rgb(33, 33, 33) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
html { width: 100%; height:100%; overflow:hidden; }
body { 
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
input { 
  width: 100%; 
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }