.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 158px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none double;
  margin: 13px auto 23px;
  padding: 0;
}.u-section-2 {
  background-image: linear-gradient(0deg, #131415, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 298px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  width: 425px;
  margin: 14px auto 0;
}

.u-section-2 .u-line-1 {
  width: 238px;
  height: 3px;
  transform-origin: right center 0px;
  border-style: solid;
  margin: 11px 442px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  width: 357px;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 27px 413px 0 auto;
  padding: 5px 27px 7px 26px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.9em;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: -40px auto 0 413px;
  padding: 8px 30px 9px 29px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.9em;
  animation-duration: 1000ms;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 10px 433px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: -22px 599px 0 420px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 10px auto 20px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.1em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -41px;
    margin-left: 312px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(28, 28, 28) !important;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 312px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -25px;
    margin-right: 499px;
    margin-left: 317px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 14px;
    margin-bottom: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 72px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
    margin-right: 239px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -44px;
    margin-right: 389px;
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-right: 109px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 123px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-right: 130px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -25px;
    margin-right: 270px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 21px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 8px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 193px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
    margin-bottom: 27px;
  }
}.u-section-3 {
  background-image: linear-gradient(#131415, #0b0b13);
}

.u-section-3 .u-sheet-1 {
  min-height: 257px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  width: 478px;
  font-weight: bold;
  margin: 15px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 288px;
  margin: 15px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 6px 39px;
}

.u-section-3 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 13px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-text-1 {
    width: 488px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-bottom: 20px;
    margin-left: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 17px;
    margin-left: -11px;
    margin-right: -11px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-bottom: 17px;
    margin-left: 113px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/68747470733a2f2f692e696d6775722e636f6d2f38526c5a3345442e706e67.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 509px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-style: normal;
  line-height: 0.8;
  font-size: 1.875rem;
  width: 170px;
  margin: 34px auto 0;
}

.u-section-4 .u-slider-1 {
  min-height: 383px;
  width: 763px;
  margin: 9px auto 59px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-4 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/e461aa699188bf6f2925db37c30401f1.webp");
  background-position: 50% 50%;
  margin: 55px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  width: 127px;
  margin: 56px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/4bd3c4577079a22358b797bfd647b17c.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  width: 143px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/a_4dbb5dbc4bfe32a5e89707ed2ec9f19f.gif");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  width: 149px;
  margin: 56px auto 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-4 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/847920711a6b64dee34018060aecb919.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  width: 203px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  margin: 4px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 80px;
}

.u-section-4 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("images/0af81d7bc569b265f7b3d58c13bcfb17.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  width: 227px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-16 {
  font-size: 1rem;
  font-weight: 400;
  margin: 9px auto 0 285px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 80px;
}

.u-section-4 .u-image-6 {
  width: 83px;
  height: 83px;
  background-image: url("images/cae36f543fdf0417cb33c7aea8f853a8.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-17 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  width: 199px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-19 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 80px;
}

.u-section-4 .u-image-7 {
  width: 83px;
  height: 83px;
  background-image: url("images/317aeb98477335f2058b64229dafae0d.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-20 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-21 {
  font-weight: 700;
  width: 199px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-22 {
  font-size: 1rem;
  font-weight: 400;
  margin: 3px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 80px;
}

.u-section-4 .u-image-8 {
  width: 83px;
  height: 83px;
  background-image: url("images/f6102785359253d20a94a904b3ff38a0.webp");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-23 {
  font-size: 1.25rem;
  margin: 45px 0 0;
}

.u-section-4 .u-text-24 {
  font-weight: 700;
  width: 199px;
  margin: 58px auto 0;
}

.u-section-4 .u-text-25 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
  left: -59px;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
  left: auto;
  position: absolute;
  right: -85px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-15 {
    width: 127px;
    margin-right: 253px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 348px;
  }

  .u-section-4 .u-text-18 {
    width: 127px;
    margin-right: 253px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 348px;
  }

  .u-section-4 .u-text-21 {
    width: 127px;
    margin-right: 253px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 348px;
  }

  .u-section-4 .u-text-24 {
    width: 127px;
    margin-right: 253px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 259px;
    margin-left: 204px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 354px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 259px;
    margin-left: 204px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 354px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 259px;
    margin-left: 204px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 354px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 259px;
    margin-left: 204px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-4 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 175px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 270px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 175px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 270px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 175px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 270px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 175px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 270px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 9px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-4 .u-slider-1 {
    margin-bottom: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-15 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 190px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-18 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 190px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-20 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-21 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 190px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-23 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-24 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 190px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/68747470733a2f2f692e696d6775722e636f6d2f38526c5a3345442e706e67.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 717px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  width: 254px;
  margin: 19px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1102px;
  grid-template-rows: auto;
  margin: 19px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 530px;
}

.u-section-5 .u-list-item-1 {
  filter: brightness(0.8);
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/DiscordCanary_OyOUNhoHYn.png");
  background-position: 0% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 8px 2px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/DiscordCanary_95EuZEQhWh.png");
  background-position: 7.47% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/DiscordCanary_95EuZEQhWh.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 8px 2px 0 0;
}

.u-section-5 .u-list-item-3 {
  filter: brightness(0.8);
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/DiscordCanary_MjrxY8Z4cn.png");
  background-position: 100% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 8px 2px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none double;
  font-weight: 700;
  margin: 19px auto 35px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 452px;
  }

  .u-section-5 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1039px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/68747470733a2f2f692e696d6775722e636f6d2f38526c5a3345442e706e67.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 719px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  width: 254px;
  margin: 17px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 12px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1102px;
  grid-template-rows: auto;
  margin: 17px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 557px;
}

.u-section-6 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/DiscordCanary_OyOUNhoHYn.png");
  background-position: 0% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 8px 2px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/DiscordCanary_yDDhGASuwX.png");
  background-position: 0% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 8px 2px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/DiscordCanary_MjrxY8Z4cn.png");
  background-position: 100% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  letter-spacing: -2px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 8px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 475px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1091px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 {
  background-image: linear-gradient(#06050d, #07060e);
}

.u-section-7 .u-sheet-1 {
  min-height: 600px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  line-height: 0.8;
  font-size: 1.875rem;
  margin: 26px auto 0 182px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: normal;
  line-height: 0.8;
  font-size: 1.875rem;
  margin: -24px 217px 0 auto;
}

.u-section-7 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 12px auto 0 216px;
}

.u-section-7 .u-line-2 {
  width: 112px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: -3px 235px 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1117px;
  margin: 16px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 503px;
  background-size: auto 115%;
}

.u-section-7 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/DiscordCanary_OyOUNhoHYn.png");
  background-position: 100% 0%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 503px;
  background-size: auto 115%;
  transition-duration: 0.25s;
}

.u-section-7 .u-image-2 {
  background-image: url("images/DiscordCanary_PbQmAMnhx1.png");
  background-position: 0% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-slider-1 {
  min-height: 503px;
  width: 559px;
  margin: -503px auto 16px 12px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/DiscordCanary_ZCMTv2G8Fl.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-7 .u-image-4 {
  background-image: url("images/DiscordCanary_9icxoo3P7V.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-7 .u-image-5 {
  background-image: url("images/DiscordCanary_mIWeOUnuvB.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-7 .u-image-6 {
  background-image: url("images/DiscordCanary_Qx4ob8lgQB.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-7 .u-image-7 {
  background-image: url("images/DiscordCanary_wXhY60gPaX.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-7 .u-image-8 {
  background-image: url("images/DiscordCanary_dnMzrQbDFN.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-7 .u-image-9 {
  background-image: url("images/DiscordCanary_uypTfh4DdD.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-7 .u-image-10 {
  background-image: url("images/DiscordCanary_LCrI55DQHU.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-7 .u-carousel-control-1 {
  width: 27px;
  height: 27px;
  background-image: none;
  left: 10px;
  position: absolute;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  width: 27px;
  height: 27px;
  background-image: none;
  left: auto;
  right: 10px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 159px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 423px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 423px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 323px;
    width: 439px;
    height: auto;
    margin-top: -323px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 223px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-7 .u-text-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 609px;
    margin-left: auto;
  }

  .u-section-7 .u-line-1 {
    margin-top: -607px;
    margin-left: auto;
  }

  .u-section-7 .u-line-2 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 216px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 517px;
    margin-top: -989px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-7 .u-text-2 {
    width: 148px;
    margin-top: 55px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-line-2 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -85px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 309px;
    margin-top: -615px;
    margin-bottom: 332px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 238px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 461px;
  margin: 25px auto 0;
}

.u-section-8 .u-line-1 {
  width: 328px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0 429px;
  padding: 5px 47px 6px 46px;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: -40px 416px 0 594px;
  padding: 5px 27px 7px 26px;
}

.u-section-8 .u-icon-1 {
  font-size: 0.9em;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 11px 431px 25px 610px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 306px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 316px;
    margin-left: 494px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin: 12px 333px 46px 512px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-btn-1 {
    margin-left: 86px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 206px;
    margin-left: 384px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 273px;
    margin-left: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 124px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 116px;
    margin-left: 294px;
  }

  .u-section-8 .u-text-3 {
    margin: 8px 129px 60px 308px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 12px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    margin-right: 40px;
    margin-bottom: 12px;
    margin-left: 201px;
  }
}.u-section-9 {
  background-image: linear-gradient(#07060e, black);
}

.u-section-9 .u-sheet-1 {
  min-height: 641px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 6px 0 16px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  width: 318px;
  margin: 6px auto 0;
}

.u-section-9 .u-custom-html-1 {
  min-height: 427px;
  width: 305px;
  margin: 22px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-2 {
  margin: 0 176px 0 244px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-9 .u-custom-html-1 {
    height: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-9 .u-text-2 {
    width: 283px;
    margin-left: 182px;
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    width: 276px;
  }

  .u-section-9 .u-custom-html-1 {
    width: 276px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 114px;
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-9 .u-text-1 {
    width: 212px;
    margin-top: 0;
  }

  .u-section-9 .u-custom-html-1 {
    margin-right: 48px;
    margin-left: 16px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 32px;
    margin-left: 25px;
  }
}