.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/dsdddd.jpg");
  background-position: 50% 3.82%;
}

.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-text-1 {
  margin: 60px 249px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 328px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  align-self: center;
  margin: 26px auto 0 422px;
  padding: 8px 33px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -42px auto 60px 583px;
  padding: 8px 43px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    width: 643px;
    margin-left: 149px;
    margin-right: 149px;
  }

  .u-section-1 .u-text-2 {
    width: 484px;
    margin-right: 229px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 222px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dsdddd.jpg");
  background-position: 48.45% 40.4%;
  background-size: 185%;
}

.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 47px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-position: 0% 0%;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/lode.png");
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 0% 50%;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Quarralv0.2-min.png");
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 0% 100%;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/BetterDefaut.png");
  background-position: 0% 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 47px;
  padding: 8px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 213px;
  padding: 8px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 429px;
  padding: 8px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 595px;
  padding: 8px;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: -45px 189px 0 auto;
  padding: 8px;
}

.u-section-2 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 60px 978px;
  padding: 8px;
}

.u-section-2 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 329px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 495px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 778px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(20% - 8px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 219px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 385px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(11.11% - 8.88888888888889px);
  }

  .u-section-2 .u-btn-3 {
    margin-left: 201px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 201px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 101px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 101px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 178px;
  }
}