.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 296px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 90px 249px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 328px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  align-self: center;
  margin: 26px auto 0 422px;
  padding: 8px 33px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -42px auto 26px 583px;
  padding: 8px 43px 9px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    width: 643px;
    margin-left: 149px;
    margin-right: 149px;
  }

  .u-section-1 .u-text-2 {
    width: 484px;
    margin-right: 229px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-2 {
    margin: -41px 318px 30px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-left: 198px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-right: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: 118px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -43px;
    margin-right: 118px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-left: 0;
    padding: 10px 41px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin: -46px auto 25px 170px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 13px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-position: 0% 100%;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 0% 100%;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 0% 100%;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 47px;
  padding: 8px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 213px;
  padding: 8px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 429px;
  padding: 8px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 595px;
  padding: 8px;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px 190px 0 auto;
  padding: 8px;
}

.u-section-2 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 978px;
  padding: 8px;
}

.u-section-2 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 13px 995px 13px 88px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 157px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 331px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 338px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -43px;
    margin-right: 150px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -47px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 842px;
    margin-bottom: 20px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-list-1 {
    min-height: 422px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 33.5px);
    grid-template-columns: calc(50% - 33.5px) calc(50% - 33.5px);
    grid-auto-rows: calc(50% - 33.5px);
    grid-gap: 67px 67px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -268px;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 190px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -44px;
    margin-right: 186px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 40px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 237px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 174px;
  }

  .u-section-2 .u-text-5 {
    margin: -401px 537px 60px 126px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 44.6667px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -461px;
    margin-left: 146px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 156px;
    margin-left: 25px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -45px;
    margin-right: 222px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 13px;
    margin-right: 222px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -47px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -569px;
    margin-right: 178px;
    margin-left: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 60px);
    grid-gap: 90px 90px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -399px;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 139px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -229px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 367px;
    margin-left: 18px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -45px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -412px;
    margin-right: 229px;
    margin-left: 54px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 505px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 19px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-position: 0% 100%;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-3 .u-image-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-3 .u-image-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 47px;
  padding: 8px;
}

.u-section-3 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 213px;
  padding: 8px;
}

.u-section-3 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 429px;
  padding: 8px;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 595px;
  padding: 8px;
}

.u-section-3 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px 190px 0 auto;
  padding: 8px;
}

.u-section-3 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 45px 0 auto;
  padding: 8px;
}

.u-section-3 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 13px 995px 19px 88px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  font-size: 0.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 166px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 331px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 329px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 138px;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 11px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 842px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 33.5px);
    grid-template-columns: calc(50% - 33.5px) calc(50% - 33.5px);
    grid-auto-rows: calc(50% - 33.5px);
    grid-gap: 67px 67px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 179px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 157px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-right: auto;
    margin-left: 581px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 0;
    margin-left: 179px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 602px;
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 44.6667px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 372px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
    margin-left: 201px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 372px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 372px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 482px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -19px;
    margin-right: -1px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -19px;
    margin-right: -1px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -19px;
    margin-right: -1px;
    margin-left: -11px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
    margin-left: 186px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 31px;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 39px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 242px;
    margin-left: 41px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 544px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 19px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  background-position: 0% 100%;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-position: 0% 100%;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-position: 0% 100%;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 213px;
  padding: 8px;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 595px;
  padding: 8px;
}

.u-section-4 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px 190px 0 auto;
  padding: 8px;
}

.u-section-4 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 978px;
  padding: 8px;
}

.u-section-4 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -44px auto 0 431px;
  padding: 8px;
}

.u-section-4 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px auto 36px 49px;
  padding: 8px;
}

.u-section-4 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 495px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -44px;
    margin-right: 142px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -46px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 331px;
  }

  .u-section-4 .u-btn-6 {
    margin-bottom: 30px;
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 33.5px);
    grid-template-columns: calc(50% - 33.5px) calc(50% - 33.5px);
    grid-auto-rows: calc(50% - 33.5px);
    grid-gap: 67px 67px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -190px;
    margin-left: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -44px;
    margin-left: 581px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 158px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -248px;
    margin-left: 152px;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 152px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 44.6667px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -338px;
    margin-left: 39px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 151px;
    margin-left: 50px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 111px;
    margin-left: 172px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 22px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -397px;
    margin-left: 172px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 151px;
    margin-right: auto;
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -318px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 131px;
    margin-right: 53px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -377px;
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 131px;
    margin-left: 14px;
  }
}