.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 642px;
  animation-duration: 1000ms;
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 328px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  align-self: center;
  margin: 26px auto 0 422px;
  padding: 8px 33px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -41px 422px 41px auto;
  padding: 6px 35px 6px 34px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-text-1 {
    width: 643px;
  }

  .u-section-1 .u-text-2 {
    width: 484px;
    margin-right: 229px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding: 10px 41px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 46px;
    padding: 8px 43px 9px 42px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 21px -20px 0 20px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 18px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-2 .u-list-item-1 {
  background-position: 0% 100%;
  animation-duration: 1250ms;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px 30px 22px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 100px 0 0;
}

.u-section-2 .u-list-2 {
  width: 597px;
  margin: -12px auto 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 105px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 28px 0 auto;
  padding: 8px 13px 8px 12px;
}

.u-section-2 .u-icon-1 {
  color: rgb(92, 107, 192) !important;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 28px 0 auto;
  padding: 8px 13px 8px 12px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 28px 0 auto;
  padding: 8px 13px 8px 12px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-2 {
    min-height: 315px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-image-1 {
    background-position: 0% 0%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -20px;
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 21px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 21px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 18px -20px 0 20px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 13px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-3 .u-list-item-1 {
  background-position: 0% 100%;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-position: 0% 100%;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-position: 0% 100%;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -8px 128px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 47px;
  padding: 8px;
}

.u-section-3 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 202px;
  padding: 8px 21px;
}

.u-section-3 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 570px 0 auto;
  padding: 8px;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 415px 0 auto;
  padding: 8px 20px;
}

.u-section-3 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px auto 0 811px;
  padding: 8px;
}

.u-section-3 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 30px 0 auto;
  padding: 8px 19px;
}

.u-section-3 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 13px 995px 0 88px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  margin: -20px auto 18px 474px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 370px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 215px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 20px;
    margin-right: 215px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 883px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 150px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 663px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 483px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 20px;
    margin-right: 483px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-gap: 100px 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -399px;
    margin-right: 188px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -45px;
    margin-left: 183px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 137px;
    margin-right: 188px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 183px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 185px;
    margin-right: 188px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 183px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -227px;
    margin-right: 227px;
    margin-left: 56px;
  }

  .u-section-3 .u-btn-8 {
    margin: -199px auto 403px 56px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 505px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 19px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-4 .u-list-item-1 {
  background-position: 0% 100%;
  animation-duration: 1000ms;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-4 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-4 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -8px 103px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 47px;
  padding: 8px;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 199px;
  padding: 8px 20px;
}

.u-section-4 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 418px 0 auto;
  padding: 8px 19px;
}

.u-section-4 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px auto 0 811px;
  padding: 8px;
}

.u-section-4 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 38px 0 auto;
  padding: 8px 19px;
}

.u-section-4 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px auto 0 431px;
  padding: 8px;
}

.u-section-4 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 13px 995px 19px 88px;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-size: 0.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 218px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 611px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-left: 231px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 883px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 391px;
  }

  .u-section-4 .u-btn-6 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 211px;
  }

  .u-section-4 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 483px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 19px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -45px;
    margin-right: 31px;
    margin-left: auto;
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -45px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 223px;
    margin-left: 60px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 527px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 12px -20px 0 20px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 18px 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-5 .u-list-item-1 {
  background-position: 0% 100%;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-position: 0% 100%;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-position: 0% 100%;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  background-position: 0% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: -8px 92px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0 213px;
  padding: 8px;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 595px;
  padding: 8px;
}

.u-section-5 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px 190px 0 auto;
  padding: 8px;
}

.u-section-5 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px auto 0 978px;
  padding: 8px;
}

.u-section-5 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -44px auto 0 431px;
  padding: 8px;
}

.u-section-5 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -45px auto 19px 49px;
  padding: 8px;
}

.u-section-5 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 395px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 231px;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 175px;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 11px;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 20px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-gap: 81px 81px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 13px;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 13px;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 13px;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -419px;
    margin-left: 22px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 224px;
    margin-left: 18px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: -315px;
    margin-right: 29px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 394px;
    margin-right: 201px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: -214px;
    margin-left: 170px;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 124px;
    margin-bottom: 60px;
    margin-left: 170px;
  }
}@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }
  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }
  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }
  .u-section-1 .u-btn-1 {
    margin-left: 118px;
  }
  .u-section-1 .u-btn-2 {
    margin-right: 118px;
  }
}