.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 147px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 32px 403px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 15px auto 32px 495px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-1 .u-text-1 {
    width: 334px;
    margin-right: 307px;
    margin-left: 299px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 93px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 252px;
    margin-left: 134px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 155px;
    margin-left: 52px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 35px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  width: 747px;
  margin: 24px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  animation-duration: 1000ms;
  font-size: 3rem;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1102px;
  grid-template-rows: auto;
  margin: 19px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 530px;
}

.u-section-2 .u-list-item-1 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-2 .u-text-3 {
  margin: -27px auto 0 67px;
}

.u-section-2 .u-text-4 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-2 .u-image-2 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-2 .u-text-7 {
  margin: -27px auto 0 67px;
}

.u-section-2 .u-text-8 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-2 .u-list-item-3 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-2 .u-icon-3 {
  width: 25px;
  height: 30px;
}

.u-section-2 .u-text-11 {
  margin: -27px auto 0 67px;
}

.u-section-2 .u-text-12 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: 21px auto 0 135px;
  padding: 6px 16px;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -44px auto 0;
  padding: 6px 16px;
}

.u-section-2 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -40px 135px 0 auto;
  padding: 6px 16px;
}

.u-section-2 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: 4px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: -23px 161px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: -25px auto 24px 161px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    width: 545px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 452px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 186px;
    margin-left: -44px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: -44px;
    margin-right: 186px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 357px;
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 186px;
    margin-left: -44px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: -44px;
    margin-right: 186px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 186px;
    margin-left: -44px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: -44px;
    margin-right: 186px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 33px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 416px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
    margin-left: 786px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 422px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
    margin-left: 791px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 591px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 18px 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -88px;
    margin-right: 81px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 386px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 18px 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -88px;
    margin-right: 81px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 339px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 6px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 18px 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -88px;
    margin-right: 81px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 339px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 6px;
    margin-right: 81px;
    margin-left: -88px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 25px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 196px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 566px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 202px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 25px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 386px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 80px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 391px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 100px 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 4px;
    margin-right: 138px;
    margin-left: -128px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -128px;
    margin-right: 138px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 362px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 4px;
    margin-right: 138px;
    margin-left: -128px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -128px;
    margin-right: 138px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 319px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 4px;
    margin-right: 138px;
    margin-left: -128px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -128px;
    margin-right: 138px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 319px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -1200px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 563px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 553px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -585px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -1217px;
    margin-left: auto;
    margin-bottom: 1216px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 678px;
}

.u-section-3 .u-list-1 {
  width: 733px;
  grid-template-rows: auto;
  margin: 20px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 530px;
}

.u-section-3 .u-list-item-1 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-3 .u-text-2 {
  margin: -27px auto 0 67px;
}

.u-section-3 .u-text-3 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 378px auto 0 30px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 13px 16px 0 30px;
}

.u-section-3 .u-list-item-2 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 100% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-3 .u-text-6 {
  margin: -27px auto 0 67px;
}

.u-section-3 .u-text-7 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 378px auto 0 30px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 13px 16px 0 30px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: 19px auto 0 323px;
  padding: 6px 16px;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px auto 0 618px;
  padding: 6px 16px;
}

.u-section-3 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px 252px 0 auto;
  padding: 6px 16px;
}

.u-section-3 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: 6px auto 0 639px;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: -25px auto 0 349px;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: -25px 267px 20px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 47px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 616px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 52px;
    margin-left: 793px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 647px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 57px;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 67px;
    margin-left: 813px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1039px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 290px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 290px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 3px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 290px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: 290px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 3px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 396px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
    margin-left: 573px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 427px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 593px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 216px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 393px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 247px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 100px 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -685px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 657px;
    margin-left: 33px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 11px;
    margin-left: 59px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -721px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 671px;
    margin-right: 57px;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 745px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  width: 367px;
  margin: 13px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 150px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 18px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1102px;
  grid-template-rows: auto;
  margin: 22px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 530px;
}

.u-section-4 .u-list-item-1 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-4 .u-text-3 {
  margin: -27px auto 0 67px;
}

.u-section-4 .u-text-4 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-4 .u-image-2 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-4 .u-text-7 {
  margin: -27px auto 0 67px;
}

.u-section-4 .u-text-8 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-4 .u-text-9 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-4 .u-list-item-3 {
  filter: brightness(0.8);
  animation-duration: 1000ms;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 0 296px 0 13px;
}

.u-section-4 .u-text-11 {
  margin: -27px auto 0 67px;
}

.u-section-4 .u-text-12 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 408px -31px 0 13px;
}

.u-section-4 .u-text-13 {
  font-size: 0.875rem;
  margin: 5px 13px 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: 21px auto 0 116px;
  padding: 6px 16px;
}

.u-section-4 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1em;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px auto 0 501px;
  padding: 6px 16px;
}

.u-section-4 .u-icon-5 {
  font-size: 1.1em;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  align-self: center;
  margin: -42px 168px 30px auto;
  padding: 6px 16px;
}

.u-section-4 .u-icon-6 {
  font-size: 1.1em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 452px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: 20px;
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 301px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1039px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 245px;
    margin-top: 18px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-repeater-1 {
    grid-gap: 68px 68px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -1264px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 596px;
  }
}