.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 231px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 43px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 11px 20px 60px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}