@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";

/* Outdated Version Code*/
:root {
   --theme: "Fluidcord";
   --build: "42";
   --version-latest: "v0.4.3";
   --version-latest-long: "Version: " var(--version-latest) " (Latest) ";
   --version-long: "Version: " var(--version) " (Current) ";
   --theme-dl: "https://github.com/leeprky/Fluidcord"
}

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before{display:var(--outdated_fluidcord-42,block)!important;position:absolute;left:32%!important;width:fit-content;border-radius:0 0 12px 12px!important;top:48px!important}

[data-is-author-self="true"] .repliedMessage-3Z6XBG:before{display:none!important}
.markup-eYLPri:not(.slateTextArea-27tjG0){padding-bottom:8px;padding-top:10px;padding-right:1vh!important;padding-left:1vh!important;border-radius:10px;white-space:pre-wrap!important;box-sizing:border-box!important}
[data-is-author-self="true"] .avatar-2e8lTP,[data-is-author-self="true"] .headerText-2z4IhQ{display:none}
.timestamp-p1Df1m{position:absolute}
[data-is-author-self="true"] .contents-2MsGLg,[data-is-author-self="true"] .reactions-1BUEKl{display:flex;flex-direction:row-reverse;flex-wrap:wrap-reverse}
.theme-light [data-is-author-self="true"] .markup-eYLPri{background-color:#858585!important;color:#fafafa;bottom:-10px!important;margin-left:10%!important}
.theme-dark [data-is-author-self="true"] .markup-eYLPri{background-color:#f7f3f3!important;color:#3a3a3a;bottom:-10px!important;margin-left:10%!important}
.theme-dark [data-is-author-self="true"] .repliedMessage-3Z6XBG{margin-bottom:var(--reply-spacing);margin-left:85%}
[data-is-author-self="true"] .repliedTextPreview-1bvxun,.threadMessageAccessoryPreview-13YRmc{margin-bottom:15px}
[data-is-author-self="false"] .contents-2MsGLg{flex-direction:row;max-width:100%!important;margin-left:10px}
.theme-dark [data-is-author-self="false"] .markup-eYLPri{background-color:#555!important;color:#dfdfdf;margin:0!important;bottom:-10px!important;margin-right:10%!important;display:inline-block}
.theme-light [data-is-author-self="false"] .markup-eYLPri{background-color:#ECECEC!important;color:#414040;margin:0!important;bottom:-10px!important;margin-right:10%!important;display:inline-block}
[data-is-author-self="true"] .repliedTextPreview-1bvxun,.threadMessageAccessoryPreview-13YRmc{height:70px!important;margin-left:200px}
[class="repliedTextPlaceholder-1Njd47"]{margin-top:30px}
[data-is-author-self="true"] .container-2sjPya{display:flex;flex-direction:row-reverse!important}
.slateTextArea-27tjG0{position:relative!important}
.cozyMessage-1DWF9U.groupStart-3Mlgv1{min-height:2.95rem}
.username-h_Y3Us{display:none}
.avatar-2e8lTP,.executedCommandAvatar-3oOnb1,.replyAvatar-sHd2sU,.replyBadge-LMm_Ic,.threadMessageAccessoryAvatar-17qE_g{left:16px;margin-top:calc(4px - .250rem)!important;width:50px;height:50px;border-radius:50%}
.message-2CShn3 .avatar-2e8lTP{margin-top:5px!important}
.chatContent-3KubbW{margin-left:20px}
.cozy-VmLDNB .header-2jRmjb{display:none}
.compact-2Nkcau.wrapper-30-Nkg,.cozy-VmLDNB.wrapper-30-Nkg{padding-top:.125rem;padding-bottom:1rem}
.container-2sjPya>*{margin-top:15px;margin-left:10px;margin-bottom:-15px}
.repliedTextPreview-1bvxun,.threadMessageAccessoryPreview-13YRmc{height:70px}
[data-is-author-self="true"] .repliedTextPreview-1bvxun,.threadMessageAccessoryPreview-13YRmc{height:70px;margin-left:0;width:auto;margin-top:15px;min-width:50px}
.theme-light [data-is-author-self="false"] .embed-hKpSrO{margin-left:10px!important}
.theme-dark [data-is-author-self="false"] .embed-hKpSrO{margin-left:10px!important}
.repliedTextContentIcon-1LQXRB,.threadMessageAccessoryContentIcon-TRQY1x{margin-top:3px}
.titleBar-1it3bQ > :nth-child(2):hover{background-color:#b64537}
.titleBar-1it3bQ > :nth-child(3):hover{background-color:#d6ac2c}
.titleBar-1it3bQ > :nth-child(4):hover{background-color:#24d324}
.container-1eFtFS{margin-top:5px}
.wordmark-2u86JB:after{color:#f7f5f5;content:"Discord";font-size:15px;font-weight:700;position:absolute;width:4000px;top:8.8px;left:11px}
.theme-light .wordmark-2u86JB:after{color:#303030}
.theme-dark .wordmark-2u86JB:after{color:#f7f5f5}
.wordmark-2u86JB > svg{width:0}
.winButton-3UMjdg{position:relative;top:-4px;cursor:pointer;width:32px;height:30px;pointer-events:auto;-webkit-app-region:no-drag}
.container-ZMc96U.themed-Hp1KC_{height:50px}
.content-1jQy2l > div:nth-child(2){order:-1}
.layout-1qmrhw .wrapper-1VLyxH{width:62px;height:62px;position:relative;border-radius:0}
.layout-1qmrhw .mask-1FEkla.svg-2azL_l{display:block;right:-20px;bottom:-11px;width:55px;height:55px}
.member-2gU6Ar.container-1oeRFJ.clickable-28SzVr .layout-1qmrhw,.selected-1-Z6gm .layout-1qmrhw{height:60px}
.layout-1qmrhw .wrapper-1VLyxH,.avatar-6qzftW{width:15px;margin:0;margin-left:20px}
.content-1U25dZ{margin-left:25.5px}
#app-mount .wrapper-1VLyxH .mask-1FEkla > rect[x="22"]{display:none}
#app-mount .wrapper-1VLyxH foreignObject{-webkit-mask:none;mask:none;border-radius:var(--avatar-border-radius)}
.membersGroup-2eiWxl{padding:24px 8px 0 16px;height:40px;font-size:13px;margin-left:0;font-family:var(--font-primary)}
[class="dots-1BwzZQ"]{top:20px!important}
.member-2gU6Ar.container-1oeRFJ.clickable-28SzVr .layout-1qmrhw,.selected-1-Z6gm .layout-1qmrhw{width:245px}
.container-ZMc96U.themed-Hp1KC_,.chat-2ZfjoI{border-radius:12px 0 0 0!important}
#app-mount .guilds-2JjMmN .svg-2zuE5p,#app-mount .guilds-2JjMmN .wrapper-28eC3z,#app-mount .guilds-2JjMmN .guildsError-b7zR5H,#app-mount .guilds-2JjMmN .placeholderMask-3K9THS foreignObject{mask:none}
.full-motion .scale-3UGUBw.didRender-2SiRlm{-webkit-transition:opacity .12s ease-out,-webkit-transform .12s ease-out;transition:opacity .12s ease-out,-webkit-transform .12s ease-out;transition:transform .12s ease-in-out,opacity .12s ease-out;transition:transform .12s ease-out,opacity .12s ease-out,-webkit-transform .12s ease-out;-webkit-transform:scale(1);transform:scale(1);opacity:1}
.status-3TYC5W,.description-3Cwkxk{display:none}
.separator-1So4YB{display:none}
.mask-2Me5HY.icon-Lz4Y-_{--status-icon-size:105%;height:var(--status-icon-size);width:var(--status-icon-size);stroke-width:59!important;transform:scale(1.1,1.1)}
.animatorTop-3ltI52.scale-3UGUBw.didRender-2SiRlm > .menu-1QACrS.styleFixed-2_NfVL > .scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt{display:grid;align-items:center;grid-template-columns:auto auto auto auto;visibility:visible}
.item-1OdjEX.colorDefault-CDqZdO:nth-of-type(7){grid-column:1/5}
.animatorTop-3ltI52.scale-3UGUBw.didRender-2SiRlm{transition:opacity .15s linear 0}
.customText-36Uwzc{font-size:15px}
.statusItem-2hiCNB[aria-label="Set a custom status"]{display:none}
.statusItem-2hiCNB[aria-label="Show Game Activity"]{display:none}
.menu-1QACrS{background-color:var(--status-bg)!important;border-radius:12px}
div[class*=colorDefault-].focused-3qFvc8,div[class*=colorDefault-].focused-3qFvc8:active,div[class*=colorDefault-]:active:not(.hideInteraction-2jPGL_){background-color:transparent!important;color:#fff!important}
.colorDefault-CDqZdO{margin-left:10px}
@keyframes smooth-up1 {
0%{top:10px}
25%{top:0}
50%{top:0}
75%{top:0}
100%{top:0}
}
.statusItem-2hiCNB,#app-mount #status-picker{position:relative;margin-left:-3px;margin-bottom:-4px;animation-name:smooth-up1;animation-duration:4s}
.mask-2Me5HY.icon-Lz4Y-_{border-radius:50%!important}
.statusItem-2hiCNB foreignObject{mask:none}
.layer-2aCOJ3{margin-bottom:15px}
.childWrapper-1j_1ub,.wrapper-3kah-n,.wrapper-28eC3z{width:48px;height:48px;z-index:99999;position:relative}
.members-3WRCEx,.members-3WRCEx>div{width:280px}  

:root {
    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 30px);
  }
  
  #app-mount .app-3xd6d0 .base-2jDfDU {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
  }
  #app-mount .sidebar-1tnWFu {
    border-radius: 0;
  }
  #app-mount [class*=unreadMentionsIndicator] {
    width: var(--server-size);
    padding: 0;
    left: 45%;
    height: 20px !important;
    width: 40px;
    z-index: 99999;
    transform: translateX(-50%);
    height: auto;
  }
  #app-mount .guilds-2JjMmN {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 240px;
    width: 80px;
    top: 215px;
    z-index: 999;
    left: 0;
  }

.scroller-WSmht3 {
  margin-top: 00px;
  background-color: var(--background-tertiary);
}
.resultsGroup-1BPR25 {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 30px;
  margin-top: -0px;
}
.searchBar-3TnChZ {
  position: absolute;
  display: fixed;
  z-index: 999999999;
  top: 0px !important;
  width: 30px;
}
.channel-1Shao0 {
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.form-3gdLxP {
  flex-shrink: 0;
  padding-left: 0px;
  padding-right: 16px;
  margin-top: -35px;
}
.icon-3AqZ2e, .wrapper-3kah-n[aria-label="Home"], .childWrapper-1j_1ub, .wrapper-3kah-n, .wrapper-28eC3z {
  border-radius: var(--avatar-border-radius);
  height: 48px;
  width: 48px;
}
.searchBar-zdmu7v {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: #fdfcfc;
}
.theme-dark .searchBar-zdmu7v {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}
.container-2McqkF {
  left: -1520px;
  top: q10px;
  position: relative;
}
.DraftEditor-editorContainer, .search-1FM8Qc .DraftEditor-root .public-DraftEditor-content, .search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root, .searchBar-zdmu7v .icon-1nNws_ {
  margin-top: 5px;
  margin-left: 3px;
}
.focused-8aNhVB .searchBar-zdmu7v, .open-3y3yI_ .searchBar-zdmu7v {
  width: 222px;
}
.theme-light .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
}
.theme-dark .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(19, 17, 17);
}
.platform-win .layer-86YKbF {
  top: -100px;
}
#app-mount .sidebar-1tnWFu {
  border-radius: 0;
  margin-top: 128px;
  display: fixed;
}
.content-1SgpWY {
  background-color: var(--background2);
}
  #app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  #app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    padding-top: 0 !important;
  }
  #app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
  }
  #app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
  }
  #app-mount .guilds-2JjMmN .svg-2zuE5p,
  #app-mount .guilds-2JjMmN .wrapper-28eC3z,
  #app-mount .guilds-2JjMmN .guildsError-b7zR5H,
  #app-mount .guilds-2JjMmN .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
  }
  #app-mount .guilds-2JjMmN [role=group] {
    height: auto !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
    margin-left: -2px;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 0"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 1"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 2"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 3"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 4"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 5"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 6"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 7"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 8"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 9"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 10"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 11"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 12"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 13"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 14"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 15"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 16"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 17"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 18"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 19"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 20"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 21"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 22"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 23"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 24"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 25"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 26"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 27"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 28"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 29"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 30"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 31"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 32"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 33"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 34"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 35"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 36"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 37"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 38"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 39"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 40"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN .wrapper-z5ab_q {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-2JjMmN .wrapper-21YSNc,
  #app-mount .guilds-2JjMmN .wrapper-3Njo_c {
    width: var(--server-container);
  }
  #app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-spacing) 10px;
    position: unset;
  }
  #app-mount .guilds-2JjMmN [class*=guildSeparator] {
    transform: rotate(90deg);
    width: var(--server-size);
  }
  .svg-2zuE5p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 58px;
    height: 70px;
}
  #app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
  }
  #app-mount .guilds-2JjMmN .folder-21wGz3 {
    background: transparent;
  }
  #app-mount [class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
  }
  #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
  }
  #app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-spacing));
    left: calc(-50%);
    width: calc(var(--server-size) + var(--server-spacing));
    display: flex;
    justify-content: center;
  }
  #app-mount .guilds-2JjMmN.content-Pph8t6, #app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-2jDfDU {
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .wrapper-3kah-n {
    height: 100% !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
  }
  
  html.platform-osx #app-mount .typeMacOS-3V4xXE {
    width: 100%;
  }
  html.platform-osx #app-mount .base-2jDfDU {
    top: calc(var(--server-container) + 30px) !important;
  }
  html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
  }
  body.foldercontentopened .base-2jDfDU {
    transition: 0.2s ease !important;
  }

  .theme-dark [data-is-author-self="true"] .markup-eYLPri {
    background-color: #f7f3f3!important;
    color: #3a3a3a;
    bottom: -10px!important;
    margin-left: 1%!important;
}

.panels-3wFtMD {
   border-radius: 12px;
   margin: 5px;
   position: absolute;
   bottom: 0px;
   width: 230px;
   background: var(--memberlist-background);
}
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o, div[class*=colorDefault].focused-3qFvc8 {
  color: white!important;
  background-color: transparent !important;
}

.compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg {
  padding-top: .125rem;
  padding-bottom: 1.8rem;
}

    .actionButtons-2vEOUh .contents-3ca1mk, .inner-llGtyq {
      margin-left: -31px;
    }

  .headerTop-2y3V6H {
    background-color: transparent;
    margin-top: 0px;
  }
  .nameTag-H6kSJ0 .discriminator-19kRMP, .nameTag-H6kSJ0 .username-3JLfHz, .headerTagDiscriminatorNoNickname-1jiWtJ.discrimBase-1PEDoA, .bsi-clientStatuses, .bsi-statusIcon {
    display: block;
    height: 23px;
}
  .userSelectText-1wo4Nm {
    margin-left: 12px;
  }
  .avatarPositionNormal-1CZUPk {
    top: 20px;
    margin-left: 10px;
}
.profileBadges-1dm1_q, .spinner-3YTkt9 {
  position: absolute;
  top: 15px;
  right: 22.5px;
}

.buttonsWrapper-2ARRp1 {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
 div[aria-label="USER_SETTINGS"] .info-1sUqUG:last-child > div:last-child::after {
   content: "Fluidcord v0.4.3 By Leeprky#2063";
   color: var(--alt-color2);
   filter: brightness(160%);
   display: block;
 }
