  :root {
    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 30px);
  }
  
  #app-mount .app-1q1i1E .base-3dtUhz {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
  }
  #app-mount .sidebar-2K8pFh {
    border-radius: 0;
  }
  #app-mount [class*=unreadMentionsIndicator] {
    width: var(--server-size);
    padding: 0;
    left: 45%;
    height: 20px !important;
    width: 40px;
    z-index: 99999;
    transform: translateX(-50%);
    height: auto;
  }
  #app-mount .guilds-1SWlCJ {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 240px;
    width: 80px;
    top: 215px;
    z-index: 999;
    left: 0;
  }

.scroller-1JbKMe {
  margin-top: 00px;
  background-color: var(--background-tertiary);
}
.resultsGroup-r_nuzN {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 30px;
  margin-top: -0px;
}
.searchBar-6Kv8R2 {
  position: absolute;
  display: fixed;
  z-index: 999999999;
  top: 0px !important;
  width: 30px;
}
.channel-2QD9_O {
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.form-2fGMdU {
  flex-shrink: 0;
  padding-left: 0px;
  padding-right: 16px;
  margin-top: -35px;
}
.icon-27yU2q, .wrapper-1BJsBx[aria-label="Home"], .childWrapper-anI2G9, .wrapper-1BJsBx, .wrapper-25eVIn {
  border-radius: var(--avatar-border-radius);
  height: 48px;
  width: 48px;
}
.searchBar-3dMhjb {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: #fdfcfc;
}
.theme-dark .searchBar-3dMhjb {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}
.container-3ayLPN {
  left: -1520px;
  top: q10px;
  position: relative;
}
.DraftEditor-editorContainer, .search-2oPWTC .DraftEditor-root .public-DraftEditor-content, .search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root, .searchBar-3dMhjb .icon-38sknP {
  margin-top: 5px;
  margin-left: 3px;
}
.focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb {
  width: 222px;
}
.theme-light .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(19, 17, 17);
}
.platform-win .layer-3QrUeG {
  top: -100px;
}
#app-mount .sidebar-2K8pFh {
  border-radius: 0;
  margin-top: 128px;
  display: fixed;
}
.content-98HsJk {
  background-color: var(--background2);
}
  #app-mount .guilds-1SWlCJ .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
    padding-top: 0 !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
  }
  #app-mount .guilds-1SWlCJ .svg-1X37T1,
  #app-mount .guilds-1SWlCJ .wrapper-25eVIn,
  #app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
  #app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
  }
  #app-mount .guilds-1SWlCJ [role=group] {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
    margin-left: -2px;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 0"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 1"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 2"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 3"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 4"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 5"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 6"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 7"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 8"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 9"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 10"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 11"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 12"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 13"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 14"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 15"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 16"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 17"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 18"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 19"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 20"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 21"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 22"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 23"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 24"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 25"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 26"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 27"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 28"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 29"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 30"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 31"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 32"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 33"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 34"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 35"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 36"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 37"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 38"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 39"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 40"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ .wrapper-sa6paO {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .wrapper-21YSNc,
  #app-mount .guilds-1SWlCJ .wrapper-3Njo_c {
    width: var(--server-container);
  }
  #app-mount .guilds-1SWlCJ [class*=listItem]:not([class*=listItemWrapper]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-spacing) 10px;
    position: unset;
  }
  #app-mount .guilds-1SWlCJ [class*=guildSeparator] {
    transform: rotate(90deg);
    width: var(--server-size);
  }
  .svg-1X37T1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 58px;
    height: 70px;
}
  #app-mount .guilds-1SWlCJ [class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
  }
  #app-mount .guilds-1SWlCJ .folder-21wGz3 {
    background: transparent;
  }
  #app-mount [class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
  }
  #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
  }
  #app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-spacing));
    left: calc(-50%);
    width: calc(var(--server-size) + var(--server-spacing));
    display: flex;
    justify-content: center;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6, #app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-3dtUhz {
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .wrapper-1BJsBx {
    height: 100% !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
  }
  
  html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
  }
  html.platform-osx #app-mount .base-3dtUhz {
    top: calc(var(--server-container) + 30px) !important;
  }
  html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
  }
  body.foldercontentopened .base-3dtUhz {
    transition: 0.2s ease !important;
  }

  .theme-dark [data-is-author-self="true"] .markup-2BOw-j {
    background-color: #f7f3f3!important;
    color: #3a3a3a;
    bottom: -10px!important;
    margin-left: 1%!important;
}

.panels-j1Uci_ {
   border-radius: 12px;
   margin: 5px;
   position: absolute;
   bottom: 0px;
   width: 230px;
   background: var(--memberlist-background);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ, div[class*=colorDefault].focused-3afm-j {
  color: white!important;
  background-color: transparent !important;
}

.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
  padding-top: .125rem;
  padding-bottom: 1.8rem;
}

    .actionButtons-14eAc_ .contents-18-Yxp, .inner-tyMogq {
      margin-left: -31px;
    }

  .headerTop-2y3V6H {
    background-color: transparent;
    margin-top: 0px;
  }
  .nameTag-m8r81H .discriminator-19kRMP, .nameTag-m8r81H .username-2b1r56, .headerTagDiscriminatorNoNickname-1jiWtJ.discrimBase-1PEDoA, .bsi-clientStatuses, .bsi-statusIcon {
    display: block;
    height: 23px;
}
  .userSelectText-1o1dQ7 {
    margin-left: 12px;
  }
  .avatarPositionNormal-1CZUPk {
    top: 20px;
    margin-left: 10px;
}
.profileBadges-1dm1_q, .spinner-3YTkt9 {
  position: absolute;
  top: 15px;
  right: 22.5px;
}

.buttonsWrapper-2spIeK {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
