.channelTextArea-rNsIhG,.scrollableContainer-2NUZem{background-color:var(--chatbox-colour);min-height:55px}
[class="inner-MADQqc sansAttachButton-td2irx"]{margin-top:6px}
.buttons-3JBrkn{opacity:0;transition:opacity .5s}
.channelTextArea-rNsIhG:hover .buttons-3JBrkn{opacity:1}
.uploadModal-2ifh8j .buttons-3JBrkn{opacity:1}
.sprite-2iCowe{filter:grayscale(0%)!important;fill:var(--alt-color)}
.buttons-3JBrkn {margin-right: 10px !important;}
