@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";

/* Outdated Version Code*/
:root {
   --theme: "MSTeams";
   --build-latest: "001";
   --version-latest: "v0.0.1";
   --version-latest-long: "Version: " var(--version-latest) " (Latest) ";
   --version-long: "Version: " var(--version) " (Current) ";
   --theme-dl: "https://github.com/leeprky/MicrosoftTeams"
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before{display:var(--outdated_msteams-001,block)!important;position:absolute;left:32%!important;width:fit-content;border-radius:0 0 12px 12px!important;top:48px!important}
:root {--version: "UNKOWN"; --build: "UNKNOWN"; (--outdated_msteams-001: var(--outdated_msteams-001), block}
