.contentRegion-3nDuYy .contentColumn-2hrIYH{max-width:100%}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .video-34IsHk{width:fit-content;margin-right:auto;margin-left:auto}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child{width:100%}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child > .title-PMZpEi,.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child .description-1W0DiL{text-align:end}
.contentRegion-3nDuYy .contentColumn-2hrIYH .attendeeCTA-3ZZQWt{border:0}
.contentRegion-3nDuYy .content-1rPSz4{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI .customScroller-26gWhv > .flex-1xMQg5{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI .content-3YMskv{max-width:100%}
.customScroller-26gWhv>div{max-width:100%}
.contentRegionScroller-26nc1e .toolsContainer-1edPuj{margin-right:10px;-webkit-app-region:drag;background-color:var(--alt-color2);opacity:.5;border-radius:12px}
.contentRegionScroller-26nc1e .toolsContainer-1edPuj::after{content:"Drag me lel";position:absolute;top:5px}

   .layers-3iHuyZ>.layer-3QrUeG:first-child{opacity:1!important}
   .layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{background-color:rgba(4,1,14,0.459)!important;backdrop-filter:blur(10px)}
   .contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,.sidebarRegionScroller-3MXcoP{background:transparent}
   .titleContainer-2CXtJo{border-radius:10px;padding-top:10px;padding-bottom:10px;top:5px}
   .header-2mZ9Ov{border-radius:10px;padding-top:10px;padding-bottom:10px;top:5px}
.gameName-1RiWHm {
  z-index: 1 !important;
  width: unset !important;
}
.gameVerifiedIcon-2dGGa5 {
  margin-left: 8px !important;
}
.gameNameLastPlayed-3LJo8n>div>div {
  position: relative;
  width: 100%;
  left: unset !important;
  top: unset !important;
  margin-left: unset;
  margin-top: unset;
  z-index: unset;
}
