@import "https://leeprky.github.io/themes/MicrosoftTeams/source/TopBar/main.css";
:root {
  --speed: 6s !important;
  --topbar-animation-colour: 124deg, #59c3ad, #3c8677 !important;
}
.theme-dark .wrapper-3NnKdC, .theme-dark .scroller-1Bvpku {background-color: var(--background-secondary-alt) !important;}
.theme-dark {

  /* Main Colours - Try Keep These The Same */
  --main-colour: 112, 192, 174 !important; /* RGB ONLY */
  --main-colour2: #59c3ad !important; /* HEX ONLY */
  --main-colour3: 171 !important; /* HSL ONLY */

  /* Green Colours */
  --green-color: var(--alt-color2) !important; /* HEX ONLY */
  --green-color2: var(--alt-color) !important; /* RGB ONLY */
  --green-bar-on: rgba(var(--alt-color), 0.3) !important; /* RGBA ONLY */
  --green-bar-bg: var(--green-color) !important; /* RGB ONLY */
  --green-slider-on: var(--green-color) !important; /* RGB ONLY */
  --green-slider-off: rgba(var(--alt-color), 0.4) !important; /* RGBA ONLY */
  --green-slider-dot: #fff !important;

  /* Status/Other Things Colours */
  --purple: #464775 !important;
  --red: #B1273E !important;
  --call-button-red: #AF243D !important;
  --yellow: #FDB913 !important;
  --green: #92C353 !important;

  /* Header Colours */
  --headers: #fff !important; /* */
  --headers-secondary: #c7c7c7 !important;

  --chatbox-colour: var(--background-secondary) !important;
  --mentioned: rgba(var(--alt-color), 0.4) !important;
  --mentioned-hover: rgba(var(--alt-color), 0.2) !important;

  /* Text Colours */
  --namesusernames: #dddddd !important;
  --text: #F0F0F0 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #B3B3B3 !important;
  --links: var(--alt-color2) !important;
  --links-from-self: #6058cf !important;
  
  /* Interative Buttons */
  --button-interactive: #F0F0F0!important;
  --button-interactive-hover: #F0F0F0 !important;
  --button-interactive-active: #fefeff!important;
  --button-interactive-muted: #585858 !important;

  /* Backgrounds */
  --main-background: #202020!important;
  --main-background-alternative: #202020 !important;
  --secondary-background: #191919 !important;
  --secondary-background-alternative: #191919 !important;
  --tertiary: #2f2f2f !important;
  --accent: var(--alt-color2) !important;
  --floating: #161616 !important;

  /* Hovering Colours */
  --main-hover: rgba(var(--alt-color), 0.2) !important;
  --main-hover-active: rgba(var(--alt-color), 0.8) !important;
  --main-hover-selected: rgba(var(--alt-color), 0.5) !important; 
  --main-hover-accent: rgba(var(--alt-color), 0.1) !important; 

  /* Channel Indicators */
  --connected: 108, 95, 135 !important; /* RGB ONLY */
  --hovered: rgba(var(--alt-color), 0.2) !important; /* RGBA ONLY */
  --unread: 255, 255, 255 !important; /* RGB ONLY */
  --selected: var(--alt-color) !important; /* RGB ONLY */
  --rounding: 3px !important;

  /* Infos */
  --info-warning: var(--red) !important;
  --help-warning: var(--red) !important;
  --help-info: var(--alt-color2) !important;
  --radio-group-dot: var(--alt-color) !important;

  /* Drop Shadow */
  --shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important;
  --shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
  --shadow-medium: 0 4px 4px rgba(0,0,0,0.16) !important;
  --shadow-high: 0 8px 16px rgba(0,0,0,0.24) !important;

  /* Scollbars */
  --scrollbars: flex !important; /* Flex To See Scrollbars / None For None */
  --scrollbar-small: #6c6c6c!important;
  --scrollbar-small-track: #17171700 !important;
  --scrollbar-large-thumb: #6c6c6c !important;
  --scrollbar-large-track: #17171700 !important;
  --scrollbar-small-scrollbar-color: #6c6c6c !important;
  --scrollbar-small-scrollbar-color-track: #171717da !important;

  /* Button Gradients */
  --default-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74% !important;
  --special-gradient: 315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74% !important;
  --red-gradient: 315deg, #AA3738 0%, #F04747 74% !important;
  --red-hsl: hsl(359, 63%, 53%) !important;
  --yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74% !important;
  --yellow-hsl: hsl(46, 72%, 52%) !important;
  --green-gradient: 315deg, #507a73 0%, #4b7c72  74% !important;
  --grey-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74% !important;
  --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74% !important;
  --font-normal: 500 !important;
  --font-hover: bold !important;
  --font-size-hover: 15px !important;
  --hover-transition: 0.1s linear !important;
  --transform-normal: scale(1) !important;
  --hover-transform: scale(1.15) !important;
  --setting-hover-transform: scale(1.025) !important;
  --button-hover-transform: scale(1.03) !important;

  /* Others */

  /* Modals */
  --user-modal-avatar-size: 230px !important;
  --blur-the-things: 0 !important;
  --premium-size: 480px !important;
  --premium-opacity: .13 !important;
  --premium-blur: blur(1.2px) !important;
}
