        :root {
         --chatbox-colour: var(--glasscord-chatbox-colour) !important; 
         --background-primary: transparent !important; 
         --background-secondary: transparent !important; 
         --background-secondary-alt: var(--glasscord-secondary-alt) !important; 
         --background-tertiary: transparent !important; 
         --background-floating: var(--glasscord-floating) !important; 
       }
   
       #app-mount {border-radius: var(--app-rounding);}
   
       .powercord-spotify, .powercord-spotify.hover {
          background-color: var(--glasscord-floating);
       }
      .container-2lgZY8 {
         background-color: var(--glasscord-background);
      }

.withFrame-haYltI::after {
	content: "";
	width: 100%;
	height: 4px;
	background: var(--background-titlebar);
	position: absolute;
	left: 0; top: 0;
	z-index: -1; /* Stay under the window buttons */
}

.container-1r6BKw {
	padding-top: 0;
	padding-bottom: 12px;
	margin-bottom: 12px;
	height: auto;
	transform: translateY(12px);
}

.container-1r6BKw::after {
	content: "";
	position: absolute;
	left: 0; top: -12px;
	width: 100%;
	height: 12px;
	background: var(--background-secondary);
}

.divider-JfaTT5 {
  border-top: none;
}

.searchBar-6Kv8R2 {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchHeader-1l-wpR {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchResult-3pzFAB:before {
	background-image: none;
}

.searchResult-3pzFAB:after {
	background-image: none;
}

.content-yTz4x3:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tabBody-3YRQ8W:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-19hC9u:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-xm7Ad0:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.scroller-1JbKMe {
	background-color: transparent;
}

.scroller-2TZvBN {
	background-color: transparent;
}

.scroller-zPkAnE {
	background-color: transparent;
}

.messagesWrapper-3lZDfY {
	margin-bottom: 8px;
}

.panels-j1Uci_ {
	background-color: transparent;
}

.downloadLink-1ywL9o {
	color: var(--text-lights-out) !important;
}

.bg-AYqtMd {
	-webkit-mask-image: linear-gradient(#000f, #0000) !important;
}

.members-1998pB>div {
	background-color: transparent;
}

.footer-1fjuF6 {
	display: none;
}

.titleBar-AC4pGV {
   background-color: var(--glasscord-background);
   border-radius: 0px !important;
}
.container-2lgZY8, .layer-3QrUeG.baseLayer-35bLyl, .layers-3iHuyZ  {
   border-radius: 0px !important;
}
