.bg-1QIAus, body {
  background-color: var(--glasscord-background);
}

:root {
  --main-background: transparent !important;
  --main-background-alternative: transparent !important;
  --secondary-background: transparent !important;
  --secondary-background-alternative: transparent !important;
  --tertiary: var(--glasscord-tertiary) !important;
  --accent: var(--alt-color2) !important;
  --floating: var(--glasscord-floating) !important;
}

#app-mount, .bg-1QIAus, .app-2CXKsg,.theme-dark .layers-OrUESM,.members-3WRCEx, .members-3WRCEx>div, .winButton-3UMjdg, .theme-dark .wrapper-1_HaEi, .theme-dark .scroller-3X7KbA, .container-1NXEtd {
	background-color: transparent !important;
	border-radius: var(--glasscord-blur-corner-radius) !important;
}
.theme-dark .chat-2ZfjoI {
  box-shadow: none;
}
.theme-dark .layers-OrUESM {
  box-shadow: 0px 0px 1200px var(--main-colour2);
}
