/*
.theme-dark {
    --header-primary: rgb(255, 160, 160);
    --header-secondary: #a0c6ff;
    --text-normal: #fff59f;
    --text-muted: #f59cfd;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: red;
    --background-secondary: blue;
    --background-secondary-alt: rgb(216, 178, 11);
    --background-tertiary: rgb(15, 248, 15);
    --background-accent: purple;
    --background-floating: rgb(255, 77, 7);
    --background-mobile-primary: #185ce4;
    --background-mobile-secondary: #0147f8;
    --background-modifier-hover: rgba(76, 255, 21, 0.986);
    --background-modifier-active: rgba(247, 204, 12, 0.24);
    --background-modifier-selected: rgba(255, 4, 192, 0.32);
    --background-modifier-accent: rgba(13, 245, 233, 0.06);
    --info-positive-text: rgb(12, 212, 247);
    --info-warning-text: rgb(255, 175, 2);
    --info-danger-text: rgb(241, 14, 14);
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: rgb(136, 231, 243);
    --status-warning-text: rgb(231, 16, 16);
    --scrollbar-thin-thumb: #15f54d;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #16f116;
    --scrollbar-auto-track: #16f116;
    --scrollbar-auto-scrollbar-color-thumb: #dbf116;
    --scrollbar-auto-scrollbar-color-track: #5d87f1;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: rgb(233, 29, 29);
    --control-brand-foreground: hsl(227,calc(var(--saturation-factor, 1)*57.9%),77.6%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: rgb(233, 24, 129);
    --background-mentioned-hover: rgb(34, 139, 238);
    --background-message-hover: rgba(4, 4, 5, 0.795);
    --channels-default: #e550eb;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: rgb(255, 136, 0);
    --activity-card-background: #0cebeb;
    --textbox-markdown-syntax: #53fc31;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
*/

/* Floating */
.categoryHeader-OpJ1Ly, .theme-dark .container-3ayLPN, .theme-dark .calendarPicker-sDhzdi .react-datepicker, .theme-dark .autocomplete-3NRXG8, .container-2O1UgZ, .theme-dark .quickSelectPopout-2F0PXw, .theme-dark .addGamePopout-3yePJc
{background-color: var(--background-floating) !important}
/* Primary */
.peopleColumn-1wMU14, .theme-dark .perksModal-fSYqOq, .theme-dark .root-g14mjS
{ background-color: var(--background-tertiary) !important}

/* Secondary */
.theme-dark .footer-31IekZ, .popout-28p3zl, .theme-dark .codeRedemptionRedirect-3SBiCp, .theme-dark .gemIndicatorContainer-PqApbX, .theme-dark .default-1Tkeeg, .theme-dark .pageWrapper-2PwDoS, .theme-dark .modal-2RrUKJ, .root-22AK9z, .theme-dark .container-1ILvLB .header-2C89wJ, .theme-dark .root-g14mjS, .theme-dark .uploadModal-2ie9O_, .small-23Atuv, .theme-dark .background-3xPPFc, .theme-dark .tierHeaderLocked-3S508x, .theme-dark .tierHeaderUnlocked-3lTDnP, .theme-dark .barBackground-2EEiLw, .theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .perk-2WeBWW, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .theme-dark .calendarPicker-sDhzdi .react-datepicker__header, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month
{ background-color: var(--background-tertiary) !important}

/* Secondary Alternative */
.input-3r5zZY, .theme-dark .container-1ILvLB, .theme-dark .footer-VCsJQY, .theme-dark .footer-31IekZ, .theme-dark .tierBody-1d3UiS, .theme-dark .tierMarkerBackground-G8FoN4,.theme-dark .tierMarkerBackground-G8FoN4[style="transform: scale(1.625); background: rgb(32, 34, 37);"], .theme-dark .tierBody-16Chc9,  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover
{ background-color: var(--background-tertiary) !important;
  backdrop-filter: brightness(20%) !important;
}

/* Tertiary */
.cardPrimaryOutline-29Ujqw, .css-3vaxre-menu, .main-jX9p1r, .cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .paymentHistory-2Zf4ZE, .theme-dark .inset-SbsSFp, .theme-light .inset-SbsSFp
{ background-color: var(--background-tertiary) !important}

/* Background Modifier Hover*/
.theme-dark .option-2KkUJO.selected-rZcOL-, .theme-dark .selected-3H3-RC, .theme-dark .outer-2JOHae.active-1W_Gl9, .theme-light .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover, .theme-light .outer-2JOHae.interactive-2zD88a:hover
{background-color: var(--background-modifier-hover) !important}

/* Accent */
.notice-2olXi7 
{ background-color: var(--background-accent) !important;}

/* Display None */
.theme-dark .option-2KkUJO:after, .theme-dark .option-2KkUJO.selected-rZcOL-:after
{ display: none;}

/* Other */
.theme-dark .notDetected-2HEmAp, .theme-light .notDetected-2HEmAp {
    background-color: hsl(214,calc(var(--saturation-factor, 1)*9.9%),50.4%);
}
