/*
.theme-dark {
    --header-primary: rgb(255, 160, 160);
    --header-secondary: #a0c6ff;
    --text-normal: #fff59f;
    --text-muted: #f59cfd;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: red;
    --background-secondary: blue;
    --background-secondary-alt: rgb(216, 178, 11);
    --background-tertiary: rgb(15, 248, 15);
    --background-accent: purple;
    --background-floating: rgb(255, 77, 7);
    --background-mobile-primary: #185ce4;
    --background-mobile-secondary: #0147f8;
    --background-modifier-hover: rgba(76, 255, 21, 0.986);
    --background-modifier-active: rgba(247, 204, 12, 0.24);
    --background-modifier-selected: rgba(255, 4, 192, 0.32);
    --background-modifier-accent: rgba(13, 245, 233, 0.06);
    --info-positive-text: rgb(12, 212, 247);
    --info-warning-text: rgb(255, 175, 2);
    --info-danger-text: rgb(241, 14, 14);
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: rgb(136, 231, 243);
    --status-warning-text: rgb(231, 16, 16);
    --scrollbar-thin-thumb: #15f54d;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #16f116;
    --scrollbar-auto-track: #16f116;
    --scrollbar-auto-scrollbar-color-thumb: #dbf116;
    --scrollbar-auto-scrollbar-color-track: #5d87f1;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: rgb(233, 29, 29);
    --control-brand-foreground: hsl(227,calc(var(--saturation-factor, 1)*57.9%),77.6%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: rgb(233, 24, 129);
    --background-mentioned-hover: rgb(34, 139, 238);
    --background-message-hover: rgba(4, 4, 5, 0.795);
    --channels-default: #e550eb;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: rgb(255, 136, 0);
    --activity-card-background: #0cebeb;
    --textbox-markdown-syntax: #53fc31;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
*/

/* Floating */
.theme-dark .root-1gCeng,.theme-light .root-1gCeng,.theme-dark .contentWarningPopout-n5JsIs , .theme-dark .colorPickerCustom-2CWBn2, .quickswitcher-3JagVE, .theme-dark .focused-2bY0OD, .categoryHeader-O1zU94, .theme-dark .container-3ayLPN, .theme-dark .calendarPicker-2yf6Ci .react-datepicker, .theme-dark .autocomplete-1vrmpx, .container-3XJ8ns, .theme-dark .quickSelectPopout-X1hvgV, .theme-dark .addGamePopout-2RY8Ju
{background-color: var(--background-floating) !important}
/* Primary */
.content-1YdlXf, .theme-dark .progress-1IcQ3A, .theme-dark .container-2x5lvQ section, .theme-dark .container-1D34oG, .peopleColumn-29fq28, .theme-dark .perksModal-fSYqOq, .theme-dark .root-1gCeng, .theme-dark .contentWrapper-3WC1ID, .homeWrapper-3-Wh5T
{ background-color: var(--background-primary) !important}

/* Secondary */
.theme-dark .footer-2gL1pp,.theme-light .footer-2gL1pp,.peopleList-3c4jOR, .cardPrimaryOutline-29Ujqw, .theme-dark .footer-2gL1pp, .popout-3fRpdY, .theme-dark .codeRedemptionRedirect-1wVR4b, .theme-dark .gemIndicatorContainer-2jdECl, .theme-dark .default-3oAQTF, .theme-dark .pageWrapper-1PgVDX, .theme-dark .modal-yWgWj-, .root-217Brm, .theme-dark .container-2x5lvQ .header-2C89wJ, .theme-dark .root-1gCeng, .theme-dark .uploadModal-2ifh8j, .small-3iVZYw, .theme-dark .background-3xPPFc, .theme-dark .tierHeaderLocked-3S508x, .theme-dark .tierHeaderUnlocked-3lTDnP, .theme-dark .barBackground-2EEiLw, .theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .perk-2WeBWW, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__header, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month
{ background-color: var(--background-secondary) !important}

/* Secondary Alternative */
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .theme-dark .defaultIndicator-G3c16x, .input-2VB9rf, .theme-dark .container-2x5lvQ, .theme-dark .footer-3mqk7D, .theme-dark .footer-2gL1pp, .theme-dark .tierBody-3aUxuc, .theme-dark .tierMarkerBackground-3q29am,.theme-dark .tierMarkerBackground-3q29am[style="transform: scale(1.625); background: rgb(32, 34, 37);"], .theme-dark .tierBody-16Chc9,  .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover
{ background-color: var(--background-secondary-alt) !important;
  backdrop-filter: brightness(20%) !important;
}

/* Tertiary */
.noticeRegion-1YviSH [class="container-2VW0UT elevationHigh-1PneE4"], .theme-dark .colorPickerCustom-2CWBn2.cardPrimaryOutline-29Ujqw, .css-3vaxre-menu, .main-3auUui, .cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .paymentHistory-2FXzro, .theme-dark .inset-3sAvek, .theme-light .inset-3sAvek
{ background-color: var(--background-tertiary) !important}

/* Background Modifier Hover*/
.theme-dark .friendSelected-1sa4bG, .theme-dark .option-96V44q.selected-rZcOL-, .theme-dark .selected-1Tbx07, .theme-dark .outer-1AjyKL.active-1xchHY, .theme-light .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover, .theme-light .outer-1AjyKL.interactive-3B9GmY:hover
{background-color: var(--background-modifier-hover) !important}

/* ChannelTextArea */
.theme-dark .message-2qRu38
{background-color: var(--channeltextarea-background);}

/* Accent */
.notice-18685F
{ background-color: var(--background-accent) !important}
.notice-18685F:hover
{ background-color: var(--background-accent); filter:saturate(80%)}

/* Display None */
.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:after
{ display: none;}

/* Other */
.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
    background-color: hsl(214,calc(var(--saturation-factor, 1)*9.9%),50.4%);
}
