.profileBanner-1owKI5 {height: 90px;}
.userPopout-3XzG_A{width: var(--popout-width)!important}
.note-3HfJZ5{margin-left:0}
.headerText-2WJ44e.userSelectText-1wo4Nm{margin-left:120px!important;margin-bottom:5px!important;margin-top:-55px}
.customStatus-3NamXG{margin-top:5px!important;margin-left:120px;width:330px!important}
.headerTop-2y3V6H{background-color:var(--modal-bg);height:30px}
.headerNormal-1l1Znk{background-color:var(--modal-bg)}
.activity-fViXj7{background-color:var(--modal-bg)}
.theme-dark .body-3iLsc4,.theme-dark .footer-1fjuF6{background-color:var(--modal-bg)}
.avatar-22FtUu.wrapper-1VLyxH{width:100px!important;height:100px!important;bottom:-30px!important}
.avatarHint-1E3LMl{width:100px!important;height:100px!important;border-radius:50%;top:35px!important}
.nickname-322DbL.size20-2QkeeC .botTag-7aX5WZ,.headerTagNoNickname-3ak9o8.headerTag-nSOkYt.size14-y91Il2.size20-2QkeeC .botTag-7aX5WZ{position:relative;top:1px!important}
.profileBadges-1dm1_q{position:absolute;top:72.5px;left:-16px;justify-content:center}
.setIdentityLink-OpBDR6{margin-left:190px;margin-top:-18px}

    /* USRBG */
    .userPopout-3XzG_A[style*="--user-background"] .profileBanner-1owKI5 {
      height: 180px;
      background: var(--user-background) center / cover;
      margin: 12px;
      border-radius: 6px;
  }
  .userPopout-3XzG_A[style*="--user-background"] .avatarPositionNormal-1CZUPk {
      top: 110px;
  }
  .userPopout-3XzG_A[style*="--user-background"] .headerText-2WJ44e.userSelectText-1wo4Nm {
    margin-top: -65px;
  }
  .userPopout-3XzG_A[style*="--user-background"] .profileBadges-1dm1_q {
    margin-top: -15px;
  }
  .userPopout-3XzG_A[style*="--user-background"] .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--modal-bg);
}
