    .profileBanner-j34RzR {
      height: 80px;
      background-color: var(--profile-banner-header) !important;
      border-radius: var(--borders-radius);
      margin-top: var(--borders-radius-top);
      margin-bottom: var(--borders-radius-bottom);
      margin-left: var(--borders-radius-left);
      margin-right: var(--borders-radius-right);
  }

  .headerTop-2y3V6H {
    background-color: transparent;
    margin-top: -15px;
  }
  .avatarPositionNormal-1CZUPk {
    top: 35px;
    margin-left: 10px;
}
.profileBadges-1dm1_q, .spinner-3YTkt9 {
  position: absolute;
  top: 15px;
  right: 22.5px;
}

.activity-fViXj7 {
  background-color: #0202028e;
  border-radius: var(--borders-radius);
}

.headerTextNormal-2mGWX3, .body-ZAhrcj {
  margin-left: 10px;
}
.buttonsWrapper-2spIeK {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.userPopout-3XzG_A[style*="--user-background"] .profileBanner-j34RzR,div.profileBanner-j34RzR{
--user-popout-position: center;
height: 120px;
background: var(--user-background) center / cover;}
.avatarPositionNormal-1CZUPk, .userPopout-3XzG_A[style*="--user-background"] {top: 80px;}
