  .tutorialContainer-2sGCg9 {
   position: fixed;
   z-index: 1;
   background: linear-gradient(var(--background-tertiary) 100%, transparent);
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 55px;}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0px;}

.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label="Servers"] {
   margin-top: 60px;
 }
 .tutorialContainer-2sGCg9 {
   box-shadow: 0px 5px 5px var(--background-tertiary);
 }
 .container-3w7J-x {
   z-index: 1;
}
.guilds-1SWlCJ {
    width: 80px;
}
.tree-2wKJdG {
   margin-left: 5px;
   margin-top: 5px;
}
div[style="opacity: 1; height: 56px; transform: scale(1);"] {
   top: 8px;
   position: relative;
}
