.appMount-3lHmkl, body, .bg-h5JY_x { 
  background: linear-gradient(var(--topbar-animation-colour));
  background-size: 1800% 1800%;
  animation: topbar-animation 16s ease infinite;
}
.winButton-iRh8-Z {
  background-color: transparent;
}
  @keyframes topbar-animation { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
