.container-3baos1::before,
.container-3w7J-x::before,
.wrapper-24pKcD::before,
.privateChannels-1nO12o::before {
    display: flex !important;
    flex-flow: column !important;
}
.container-3baos1::after,
.container-3w7J-x::after,
.wrapper-24pKcD::after,
.privateChannels-1nO12o::after{
    flex-flow: column;
}
.container-2baos1 {
  order: 1;
}
.container-3w7J-x,
.privateChannels-1nO12o {
  order: 2;
}
.wrapper-24pKcD {
    order: 3;
}


             .footer-1fjuF6 {
               display: none;
            }

            .content-yTz4x3:before {
               -webkit-box-shadow: none;
               box-shadow: none;
            }
            
            .tabBody-3YRQ8W:before {
               -webkit-box-shadow: none;
               box-shadow: none;
            }
            
            .container-19hC9u:before {
               -webkit-box-shadow: none;
               box-shadow: none;
            }
            
            .container-xm7Ad0:before {
               -webkit-box-shadow: none;
               box-shadow: none;
            }

            .header-2V-4Sw {
               -webkit-box-shadow: none;
               box-shadow: none;
            }
 .avatar-SmRMf2.spotify-cover{
   animation: rotate 3s infinite;
   -webkit-animation-timing-function: linear;
   border-radius: 50% !important;
 }
.powercord-spotify {
   background-color: var(--background-tertiary);
   box-shadow: 0px 22px var(--background-primary);
   right: 0.4%;
   width: 225px;
   bottom: 22px;
   position: absolute;
}
.powercord-spotify .spotify-buttons {display: none;}
.powercord-spotify.hover .spotify-buttons {display: flex !important;}
.spotify-seek-bar, .powercord-spotify .spotify-seek-bar-progress{height:3.8px !important;}
           .panels-j1Uci_ {
              background-color: var(--background-primary);
           }
