
   .members-1998pB, .members-1998pB>div {
     background-color: var(--background-primary);
   }
            .pointerEvents-2zdfdO[width="10"] {
               x:20px;
               y:20px;
            }
            .members-1998pB  .pointerEvents-2zdfdO[width="10"][mask="url(#svg-mask-status-online-mobile)"] {
               x:20px;
               y: 15px;
            }
         #app-mount .avatarHint-2A3RNb foreignObject {
           -webkit-mask: none;
                   mask: none;
         }
         #app-mount .avatarHintInner-1TvA8u {
           border-radius: var(--roundness) !important;
           top: 50%;
           left: 50%;
           -webkit-transform: translate(-50%, -50%);
                   transform: translate(-50%, -50%);
           position: relative;
         }
   .pointerEvents-2zdfdO[width="10"][mask="url(#svg-mask-status-online-mobile)"] {
      x: 20px;
      y: 15px;
  }
