/* Shrink header when scrolling down in roles menu */
.header-2mZ9Ov.stickyHeader-hH_ZLl {
    display: contents;
}
.header-2mZ9Ov.stickyHeader-hH_ZLl > div:first-child {
    margin-top: 60px !important;
}
.tabBar-11f3uI.top-28JiJ- {
    position: sticky;
    top: 0;
    padding-top: 15px;
    background-color: var(--background-primary);
    z-index: 20;
}
.header-2mZ9Ov.stickyHeader-hH_ZLl > div:last-child {
    margin-bottom: 20px;
}

.voiceUser-1K6Xox>.content-1Wq3SX>.icons-1dXQdz svg>path:last-child{
  fill: var(--alt-color2);
}

/* Popup Thing :p */
:root {
    --popup-color: var(--alt-color2);
}
.tooltipPrimary-1d1ph4 {
    background: var(--popup-color) !important;
}
.tooltipPointer-3ZfirK {
    border-top-color: var(--popup-color) !important;
}

.noUserDrag-5Mb43F {
    -webkit-user-drag: inherit;
}

.isUnread-3Ef-o9 {border-color:transparent !important;} 
.app-focused .isUnread-3Ef-o9 {border-color: #f04747 !important;}

ul.tree-2wKJdG:focus {
    outline-color: transparent;
}


.maximized .titleBar-AC4pGV {
  margin-top: 0;
  height: 22px;
}
.maximized .titleBar-AC4pGV .winButton-iRh8-Z {
  padding-top: 4px;
}

.side-8zPYf6 > div {
    order: -1;
}
.side-8zPYf6 > div[data-item-id="pc-general"],
.side-8zPYf6 > div[data-item-id="pc-general"] ~ div {
    order: 2;
}
.side-8zPYf6 > div[data-item-id="theme-toggler"] {
    order: 1 !important;
}

  .tip-2cgoli, .tipTitle-GL9qAt {
    font-size: 0px!important;
  }
  .tip-2cgoli .keybind-2jbzrT {
    display:none;
  }
  .tipTitle-GL9qAt::after {
    font-size: 16px;
    content: "Discord Loading..."
  }
  .tip-2cgoli::after {
    font-size: 16px;
    content: 'leeprky#2063';
  }


.bannerImage-1jOskm:before
{
    background: linear-gradient(0deg,var(--background-secondary) 3%,transparent 66%, rgba(0,0,0,0.5) 100%);
    height: 100%;
}
.animatedContainer-1pJv5C
{
    box-shadow: none !important;
}
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}
div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}


.item-PXvHYJ[data-item-id=pc-updater] {
  height: 4.65rem;
  align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
background: transparent;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
background: transparent;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
position: absolute;
margin-top: 2.19rem;
border-top: 1px solid var(--background-modifier-accent);
line-height: 2.6rem;    
width: 89.5%;
content: "Plugin Settings";
  color: rgb(159, 159, 159);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}


/*fix emoji suggestions not being scrollable*/
.autocompleteInner-zh20B_ {
    overflow-y: auto;
    max-height: 75vh;
}

:root .bf-badge{
    background: transparent !important;
}

.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
        opacity: 1;
        border-radius: 3px;
        background-color: #4a4d53;
}

/* Plugins */
.connection-3KRENF {
  padding-bottom: 0;
}
