:root {
  --alt-color: var(--main-colour);
  --alt-color2: var(--main-colour2);
  --alt-color3: var(--main-colour3);
  --header-primary: var(--headers);
  --header-secondary: var(--headers-secondary);
  --channeltextarea-background: var(--chatbox-colour);
  --text-normal: var(--text);
  --text-muted: var(--muted) !important;
  --text-link: var(--links);
  --text-link-self: var(--links-from-self);
  --channels-default: var(--namesusernames);
  --interactive-normal: var(--button-interactive);
  --interactive-hover: var(--button-interactive-hover);
  --interactive-active: var(--button-interactive-active);
  --interactive-muted: var(--button-interactive-muted);
  --background-primary: var(--main-background) ;
  --background-primary-alt: var(--main-background-alternative);
  --background-secondary: var(--secondary-background) ;
  --background-secondary-alt: var(--secondary-background-alternative);
  --background-tertiary: var(--tertiary) ;
  --background-accent: var(--accent) ;
  --background-floating: var(--floating);
  --indicator-connected: var(--connected);
  --indicator-hovered: var(--hovered);
  --indicator-unread: var(--unread);
  --indicator-selected: var(--selected);
  --indicator-rounding: var(--rounding);
  --background-mentioned: var(--mentioned);
  --background-mentioned-hover: var(--mentioned-hover);
  --info-warning-foreground: var(--info-warning);
  --text-positive: var(--text-positive1);
  --background-help-warning: var(--help-warning);
  --background-help-info: var(--help-info);
  --background-modifier-hover: var(--main-hover);
  --background-modifier-active: var(--main-hover-active);
  --background-modifier-selected: var(--main-hover-selected); 
  --background-modifier-accent:var(--main-hover-accent); 
  --elevation-stroke: var(--shadow-stroke);
  --elevation-low: var(--shadow-low);
  --elevation-medium: var(--shadow-medium);
  --elevation-high: var(--shadow-high);
  --scrollbar-thin-thumb: var(--scrollbar-small);
  --scrollbar-thin-track: var(--scrollbar-thin-track);
  --scrollbar-auto-thumb: var(--scrollbar-large-thumb);
  --scrollbar-auto-track: var(--scrollbar-large-track);
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-small-scrollbar-color);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-small-scrollbar-color-track);
  --radio-group-dot-foreground: var(--radio-group-dot);
    --settings-icon-color: var(--alt-color2);
    --settings-subscriptions: var(--alt-color2);
    --settings-hypesquad: #fbb848;
    --settings-logout: #f04747;
    --settings-icon-color: white;
    --settings-subscriptions: white;
    --settings-hypesquad: var(--yellow);
    --settings-logout: var(--red);
    --settings-alt-focused: white;
    --settings-guild-premium: #7289da;
    --settings-guild-delete: var(--red);
}

.appMount-3lHmkl,body,.bg-h5JY_x{background-color:var(--alt-color2)}
.app-1q1i1E,.mobileApp-13Vx-n{margin-top:44px}
.winButton-iRh8-Z [aria-hidden="false"][width="12"][height="12"]{margin-top:4.5px}
.winButton-iRh8-Z{color:#fff;transform:scale(1)}
.titleBar-AC4pGV > :nth-child(2):hover{background-color:#E81123;color:#fff}
.titleBar-AC4pGV > :nth-child(3):hover{backdrop-filter:brightness(40%);color:#fff}
.titleBar-AC4pGV > :nth-child(4):hover{backdrop-filter:brightness(40%);color:#fff}
.withFrame-haYltI{padding-top:10px;height:0;width:200px;right:0;position:fixed;border-width:2px;background-color:transparent}
.winButton-iRh8-Z{position:relative;z-index:9999;top:-20px;cursor:pointer;width:42px;height:50px;pointer-events:auto;-webkit-app-region:no-drag;background-color:var(--alt-color2)}
.titleBar-AC4pGV{z-index:1;-webkit-app-region:drag;-ms-flex-negative:0;flex-shrink:0}
.wordmark-2iDDfm:after{content:"Teams";color:#fff;-webkit-app-region:drag;font-size:12.5px;font-weight:700;text-indent:5.5px;position:absolute;z-index:3000!important;width:8000px;height:46px;z-index:-1;padding:2px;border-radius:12px;left:-2500px;top:-10px;padding-left:-1px}
.wordmark-2iDDfm > svg{width:0}
.theme-dark .wrapper-3NnKdC,.theme-dark .scroller-1Bvpku{background-color:#000!important}
.theme-light .wrapper-3NnKdC,.theme-light .scroller-1Bvpku{background-color:#fff!important}
.members-1998pB,.members-1998pB>div{background-color:var(--background-primary)}
.sidebar-2K8pFh{border-radius:0!important;width:315px}
.animatedContainer-1NSq4T,.bannerImage-3KhIJ6{width:315px;height:140px}
.name-1jkAdW,.tierTooltipTitle-3AtaZT{text-transform:capitalize;font-size:17.5px}
.guildIconContainer-2FW_iA,.powercord-badge-wrapper{display:none}
.focused-31_ccS .searchBar-3dMhjb,.open-6_Y_aH .searchBar-3dMhjb{width:530px}
.searchBar-3dMhjb{display:fixed;height:30px;width:530px;position:fixed;margin-left:-60%;top:8px;border-radius:4px;color:#000;-webkit-app-region:no-drag!important;z-index:9999}
.search-36MZv-{margin:0}
.search-2oPWTC .DraftEditor-root .public-DraftEditor-content,.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root{left:25px;top:4.5px;position:absolute;width:1000px}
.search-2oPWTC .DraftEditor-root .public-DraftStyleDefault-block{top:-1.5px}
.searchBar-3dMhjb .icon-38sknP{position:relative;left:-260px;top:2px;background-color:transparent;color:#000!important}
.iconContainer-O4O2CN{left:-240px;top:1px}
.avatar-SmRMf2.wrapper-3t9DeA{position:fixed;top:5px;right:135px;-webkit-app-region:no-drag;transform:scale(0.9)}
.avatar-SmRMf2.spotify-cover{animation:rotate 3s infinite;-webkit-animation-timing-function:linear;margin-left:3px;display:none}
.button-14-BFJ[aria-label="User settings"]{position:fixed;top:6px;right:170px;-webkit-app-region:no-drag}
.button-14-BFJ:hover{color:#fff!important}
.button-14-BFJ[aria-label="User settings"]::before{content:"v" var(--version);font-size:13px;font-weight:400;position:fixed;color:#fff;display:var(--version-display);top:21px;right:205px;-webkit-app-region:no-drag}
path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"]{d:path("M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z");color:#dadada!important}
.theme-light .children-19S4PO:after{background:rgba(58,58,58,0.363);width:1.5px;margin-left:12px;border-radius:4px;height:60px}
.cozy-3raOZG.wrapper-2a6GCs{padding-top:1px;padding-bottom:1px}
.cozyMessage-3V1Y8y:not(.groupStart-23k01U)>.contents-2mQqc9>.markup-2BOw-j:not(:empty){border-radius:6.5px 6.5px 6.5px 6.5px}
.contents-2mQqc9>.markup-2BOw-j:not(:empty){display:inline-block;max-width:650px;margin:0;padding:8px 12px 7px;border-radius:6.5px 6.5px 6.5px 6.5px;position:relative;overflow:visible}
.theme-light [data-is-author-self=false] .markup-2BOw-j:not(:empty){background-color:#E4E6EB}
.theme-dark [data-is-author-self=false] .markup-2BOw-j:not(:empty){background-color:#313131}
[data-is-author-self=true]>.contents-2mQqc9>.markup-2BOw-j:not(:empty){background-image:linear-gradient(rgba(var(--alt-color),0.1),rgba(var(--alt-color),0.8) 10%);background-size:cover;background-position:center;background-attachment:fixed}
.container-3-pyIM *,.contents-2mQqc9>.markup-2BOw-j,.contents-2mQqc9>.markup-2BOw-j>*{color:#fff!important;font-size:15px;line-height:20px;font-weight:400}
.message-2qnXI6.selected-2P5D_Z,.mouse-mode.full-motion .message-2qnXI6:hover{background-color:transparent}
.theme-light [data-is-author-self=false] .container-3-pyIM *,.theme-light [data-is-author-self=false] .markup-2BOw-j,.theme-light [data-is-author-self=false] .markup-2BOw-j>*{color:#000!important}
.groupStart-23k01U:before{transform:translate(-20%,-156%)}
.hasContent-1cNJDh:before{left:51px;transform:translateY(-132%)}
.cozyMessage-3V1Y8y+.scrollerSpacer-avRLaA:before{left:67px;transform:translateY(-84%)}
.mentioned-xhSam7:before{left:unset;top:unset;bottom:unset}
.mentioned-xhSam7+:before,.isUnread-3Ef-o9.hasContent-1cNJDh+.groupStart-23k01U:before,.hasContent-1cNJDh+.groupStart-23k01U:before,.backgroundFlash-24qWLN:before{visibility:hidden}
[data-is-author-self="true"] .executedCommand-2GE3w2,[data-is-author-self="true"] .repliedMessage-VokQwo,[data-is-author-self="true"] .threadMessageAccessory-1pYyA-{display:flex;flex-direction:row-reverse;flex-wrap:wrap-reverse;padding-bottom:4px}
[data-is-author-self="true"] .markup-2BOw-j a{color:var(--text-link-self)!important}
[data-is-author-self="true"] .repliedTextPreview-2NBljf,[data-is-author-self="true"] .threadMessageAccessoryPreview-1uSsue{padding-right:5px}
[data-is-author-self="true"] .repliedMessage-VokQwo:before{display:none}
[data-is-author-self="true"] .avatar-1BDn8e,[data-is-author-self="true"] .headerText-3Uvj1Y,[data-is-author-self="true"] .timestampInline-yHQ6fX{display:none}
[data-is-author-self="false"] .avatar-1BDn8e{margin-top:0}
[data-is-author-self="false"] .timestampInline-yHQ6fX{opacity:0;transition:300ms}
[data-is-author-self="false"] .timestampInline-yHQ6fX:hover{opacity:1;transition:300ms}
.username-1A8OIy{font-weight:400}
[data-is-author-self="true"] .contents-2mQqc9,[data-is-author-self="true"] .reactions-12N0jA{display:flex;flex-direction:row-reverse;flex-wrap:wrap-reverse}
[data-is-author-self="true"] .container-1ov-mD{display:flex;flex-direction:row-reverse!important}
.contents-2mQqc9 .channelTextArea-3bF57p{width:600px;background-color:transparent!important}
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx{bottom:3px}
.scrollableContainer-2NUZem{box-shadow:0 1.8px var(--alt-color2);border-radius:2px;transition:300ms}
.scrollableContainer-2NUZem:hover{box-shadow:0 3.8px var(--alt-color2);border-radius:2px;transition:300ms}
.channelTextArea-rNsIhG{margin-bottom:40px}
.button-38aScr[aria-label="Send a gift"]{bottom:2px;left:450px;transform:scale(0.85);position:fixed}
.button-38aScr[aria-label="Select emoji"]{bottom:5px;left:477px;transform:scale(0.85);position:fixed}
[aria-label="Open sticker picker"]{bottom:3px;left:425px;transform:scale(0.85);position:fixed}
[aria-label="Open GIF picker"]{bottom:1px;left:395px;transform:scale(0.85);position:fixed}
.powercord-spotify{left:-3.5px;width:225px;height:1px;top:-4px;position:fixed}
.spotify-artist{margin-left:1px;color:#fff}
.title-eS5yk3{color:#fff}
.powercord-spotify .spotify-buttons{display:none}
.powercord-spotify.hover .spotify-buttons{display:none!important}
.powercord-spotify.hover .spotify-extra-controls,.powercord-spotify .spotify-extra-controls + .spotify-seek{display:none}
.spotify-avatar{display:none}
.container-1r6BKw.themed-ANHk51,.header-2V-4Sw{height:55px}
[mask="url(#svg-mask-status-online)"],[mask="url(#svg-mask-status-online-mobile)"]{fill:var(--green)!important}
[mask="url(#svg-mask-status-idle)"],[mask="url(#svg-mask-status-idle-mobile)"]{fill:var(--yellow)!important}
[mask="url(#svg-mask-status-dnd)"],[mask="url(#svg-mask-status-dnd-mobile)"]{fill:var(--red)!important}
.status-1AY8sU[style="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],.statusOnline-8PnF5L{background-color:var(--green)!important}
.status-1AY8sU[style="background-color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);"]{background-color:var(--yellow)!important}
.status-1AY8sU[style="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]{background-color:var(--red)!important}
.sidebarRegion-VFTUkN{flex-grow:0}
.contentColumnDefault-1VQkGM{max-width:calc(100% - 60px)}
.contentRegion-3nDuYy .contentColumn-2hrIYH{max-width:100%}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .video-34IsHk{width:fit-content;margin-right:auto;margin-left:auto}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child{width:100%}
.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child > .title-PMZpEi,.contentRegion-3nDuYy .contentColumn-2hrIYH .features-2npk2D .feature-BGH8y4 > div:last-child .description-1W0DiL{text-align:end}
.contentRegion-3nDuYy .contentColumn-2hrIYH .attendeeCTA-3ZZQWt{border:0}
.contentRegion-3nDuYy .content-1rPSz4{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI .customScroller-26gWhv > .flex-1xMQg5{max-width:100%}
.contentRegion-3nDuYy .customColumn-Rb6toI .content-3YMskv{max-width:100%}
.customScroller-26gWhv>div{max-width:100%}
.layers-3iHuyZ>.layer-3QrUeG{opacity:1!important}
.theme-dark .layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{background-color:#1b1b1bb0!important;backdrop-filter:blur(15px)}
.theme-light .layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{background-color:#ffffffb4!important;backdrop-filter:blur(15px)}
.contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,.sidebarRegionScroller-3MXcoP{background:transparent}
.container-23jqbX .list-I3aHXn .side-8zPYf6 [class="row-3GRgeK item-PXvHYJ themed-OHr7kt"]::before,[class="row-3GRgeK item-PXvHYJ selected-3s45Ha themed-OHr7kt"]::before{display:none}
.panels-j1Uci_{position:relative;bottom:10px;margin-left:10px;margin-right:10px;border-radius:8px;border-width:1.9px;border-color:#6C6C6C;border-style:solid;background-color:var(--background-secondary)}
[aria-label="Noise suppression powered by Krisp"],.connection-3KRENF [aria-label="Disconnect"]{position:relative;top:38px;left:-61px;transform:scale(0.95)}
.actionButtons-14eAc_{position:absolute;top:5px;right:-4px}
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Turn on camera"],#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Share Your screen"],#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Start an Activity"],#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY,#app-mount .lookFilled-1Gx00P.buttonActive-3FrkXp[aria-label="Share Your screen"]{background-color:transparent!important;background:transparent;margin-left:-20px}
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Turn on camera"]:hover,#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Share Your screen"]:hover,#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp)[aria-label="Start an Activity"]:hover{background-color:var(--background-modifier-hover)!important;background:transparent;margin-left:-20px}
.container-3baos1{margin-bottom:-23px}
.hoverRoll-YK53gQ,[class="size12-3cLvbJ subtext-3CDbHg channel-1TmDQ6"]{display:none}
.usernameContainer-1fp4nu{margin-left:-5px;margin-bottom:25px}
.button-14-BFJ[aria-label="Mute"],.button-14-BFJ[aria-label="Deafen"]{transform:scale(0.95);margin-bottom:25px}
.mention-1f5kbO{border-width:1.9px;border-color:#6C6C6C;border-style:solid;background-color:var(--background-secondary);bottom:3px;height:26px;border-radius:8px;opacity:.9}
.mention-1f5kbO:hover{background-color:var(--alt-color2)}
[class="button-38aScr lookOutlined-3sRXeN colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN"]{background-color:#3ba55d54;transition:300ms}
[class="button-38aScr lookOutlined-3sRXeN colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN"]:hover{background-color:#3ba55d3a;transform:scale(1.028);transition:300ms}
.voiceUser-1K6Xox{left:-35px;width:300px;border-radius:0!important}
.platform-win .standardSidebarView-3F1I7i{padding:10px}
[class="listItem-GuPuDH mentioned"]{padding-top:5px;padding-bottom:5px;transition:300ms}
[class="listItem-GuPuDH mentioned"]:hover{background-color:rgba(var(--alt-color),0.5);transition:300ms}
[class="listItem-GuPuDH"]{padding-top:5px;padding-bottom:5px;transition:300ms}
[class="listItem-GuPuDH"]:hover{background-color:rgba(var(--alt-color),0.5);transition:300ms}
[class="listItem-GuPuDH unread"],[class="listItem-GuPuDH unread mentioned"]{padding-top:5px;padding-bottom:5px;transition:300ms;background-color:rgba(var(--alt-color),0.2)}
[class="listItem-GuPuDH unread"]:hover,[class="listItem-GuPuDH unread mentioned"]:hover{background-color:rgba(var(--alt-color),0.5);transition:300ms}
[class="listItem-GuPuDH selected"],[class="listItem-GuPuDH unread selected"],[class="listItem-GuPuDH selected audio"],[class="listItem-GuPuDH unread selected audio"],[class="listItem-GuPuDH unread mentioned selected audio"]{background-color:rgba(var(--alt-color),0.6);padding-top:5px;padding-bottom:5px;transition:300ms}
.expandedFolderBackground-1cujaW{width:80px;margin-left:-15px;border-radius:8px;background-color:rgba(var(--alt-color),0.2)}
.folder-1hbNCn,.folderIconWrapper-1_bOZe{background-color:transparent}
.base-gE7OpD{margin-bottom:82px;margin-right:5px}
.pill-1z4sAY{position:absolute;left:0;top:0;height:58px}
.item-2hkk8m{position:fixed;width:2.2px;margin-left:1px;border-radius:8px!important;height:58px!important;background-color:var(--header-primary)}
.guildSeparator-33mFX6{background:var(--alt-color2)}
.wrapper-2q53zr{padding-bottom:20px}
.circleIconButton-1QV--U{background-color:transparent}
path[d="M20 11.1111H12.8889V4H11.1111V11.1111H4V12.8889H11.1111V20H12.8889V12.8889H20V11.1111Z"]{d:path("M16.002 8.00598C16.002 10.211 14.208 12.006 12.002 12.006C9.79695 12.006 8.00195 10.211 8.00195 8.00598C8.00195 5.80098 9.79595 4.00598 12.002 4.00598C14.208 4.00598 16.002 5.80098 16.002 8.00598ZM4.00195 19.006C4.00195 15.473 7.29195 13.006 12.002 13.006C16.713 13.006 20.002 15.473 20.002 19.006V20.006H4.00195V19.006Z")}
.theme-dark .root-1gCeng .body-r6_QPy,.topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa,.tabBarItem-3dfX8P{display:table;margin-bottom:15px;font-size:16px;margin-left:8px}
.theme-dark .root-1gCeng .topSection-y3p-_D .tabBarContainer-37hZsr{top:100px;position:relative}
.nameTag-ECvD8P{top:80px;left:20px;width:150px;text-overflow:ellipsis}
.top-28JiJ- .item-PXvHYJ,.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{border-bottom-color:transparent;top:0}
.body-r6_QPy{position:absolute;background-color:transparent;left:170px;top:30px;height:350px;width:400px}
.empty-39KnKA{margin-left:-20px}
.profileBannerPremium-35utuo{height:475px;top:0;height:var(--premium-size);background-position:center;background-size:cover;opacity:var(--premium-opacity);position:absolute;filter:var(--premium-blur)}
.profileBanner-33-uE1,.customStatusText-2opeSw,.actionButton-3vN-m0,.badgeList-1R1WgZ,.banner-2QYc2d:hover .premiumIconWrapper-1A-UH5{display:none}
.actionsProfile-jEtjVX{position:absolute;margin-top:150px;margin-left:-0}
.userInfoSection-q_35fn+.userInfoSection-q_35fn,.tabBarContainer-37hZsr{border:none}
.userProfileActivity-Bnt1p_{width:360px;margin-bottom:30px}
.note-367eZJ textarea{margin-bottom:5px}
.relationshipButtons-pUQVkf{bottom:12px!important;left:-35px;transform:scale(1.2);position:relative}
.avatar-AvHqJA{transform:scale(0.8);left:20px;margin-top:20px}
.avatar-AvHqJA.wrapper-3t9DeA,.body-r6_QPy,.topSection-y3p-_D{background-color:transparent;border:var(--glasscord-background)}
.topSection-y3p-_D{height:475px}
.notice-3bPHh-{box-shadow:none;background-color:var(--alt-color2)}
.body-r6_QPy,.topSection-y3p-_D{min-height:400px}
.theme-dark .root-1gCeng{background-color:var(--background-floating)!important;border-radius:16px!important}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj{padding-left:45px;margin-bottom:20px!important;margin-top:10px}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj .listRow-1iDGel{display:inline-table;align-content:center;justify-content:center;text-align:center}
.root-3QyAh1 .listScroller-3GmIYj .mask-1l8v16.svg-2V3M55,.listRow-1iDGel .listAvatar-1BbvHX.wrapper-3t9DeA{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listRow-1iDGel .iconSizeMedium-2OqPjI{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listName-U3shDM,.root-3QyAh1 .listScroller-3GmIYj .listRowContent-i8Bizk{margin-top:2px;display:none}
.listRow-1iDGel:hover{background-color:transparent}
.theme-dark .chat-3bRxxu{box-shadow:-2px 5px 15px #0f0f0f}
.theme-dark .layers-3iHuyZ{box-shadow:0 5px 15px #0e0d0d}
.theme-light .chat-3bRxxu{box-shadow:-2px 5px 15px #ccc}
.theme-light .layers-3iHuyZ{box-shadow:0 5px 15px #d3d3d3}
:root{--indicator-border-info:2px solid;--indicator-selected-border:rgba(var(--indicator-selected));--indicator-selected-background:rgba(var(--indicator-selected),0.3);--indicator-selected-hover:rgba(var(--indicator-selected),0.48);--indicator-unread-border:rgba(var(--indicator-unread),0.6);--indicator-unread-background:rgba(var(--indicator-unread),0.01);--indicator-connected-border:rgba(var(--indicator-connected));--indicator-connected-background:rgba(var(--indicator-connected),0.2);--indicator-connected-hover:rgba(var(--indicator-connected),0.28)}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf,#app-mount .channel-2QD9_O{border-radius:var(--indicator-rounding)!important}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf::before,#app-mount .channel-2QD9_O::before{content:"";position:absolute;top:0;left:0;bottom:0}
#app-mount .content-1x5b-n,#app-mount .channel-2QD9_O .layout-2DM8Md{background-color:transparent}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf:not(.modeSelected-346R90):not(.modeConnected-3IsKId):hover,#app-mount .channel-2QD9_O:not(.selected-aXhQR6):hover{background:var(--indicator-hovered)}
#app-mount .modeSelected-346R90,#app-mount .channel-2QD9_O.selected-aXhQR6{background-color:var(--indicator-selected-background)}
#app-mount .modeSelected-346R90:hover,#app-mount .channel-2QD9_O.selected-aXhQR6:hover{background-color:var(--indicator-selected-hover)}
#app-mount .modeSelected-346R90::before,#app-mount .channel-2QD9_O.selected-aXhQR6::before{border-left:var(--indicator-border-info) var(--indicator-selected-border)}
#app-mount .modeUnread-1qO3K1{background:var(--indicator-unread-background)}
#app-mount .modeUnread-1qO3K1::before{border-left:var(--indicator-border-info) var(--indicator-unread-border)}
#app-mount .modeUnread-1qO3K1 .unread-2lAfLh{display:none}
#app-mount .modeConnected-3IsKId{background-color:var(--indicator-connected-background)}
#app-mount .modeConnected-3IsKId:hover{background-color:var(--indicator-connected-hover)}
#app-mount .modeConnected-3IsKId::before{border-left:var(--indicator-border-info) var(--indicator-connected-border)}
#app-mount .channel-2QD9_O{margin-left:0;max-width:100%}
#app-mount .channel-2QD9_O div .avatar-3uk_u9{margin-left:8px}
#app-mount .containerDefault--pIXnN .wrapper-2jXpOf,#app-mount .channel-2QD9_O{width:302px}
.colorInfo-2URYW5{background-color:var(--alt-color2)}
.content-1x5b-n,.layout-2DM8Md{transition:300ms}
.content-1x5b-n:hover,.layout-2DM8Md:hover,.container-S9SaVf:hover,.itemCard-v9viV7:hover{transform:scale(1.007);transition:300ms}
:root{--popout-height:400px;--premium-blur-popout:blur(1.2px);--premium-opacity-popout:30%}
.headerNormal-3KXFBt{position:absolute;background-position:center;background-size:cover;transform:scale(1);opacity:var(--premium-opacity-popout);position:absolute;filter:var(--premium-blur-popout);border-radius:12px 12px 0 0}
.headerTop-3vNv-a{margin-top:18px}
.headerTagNoNickname-3qrd77{top:-41.5px;left:100px;font-size:20px;position:relative;width:180px;text-transform:uppercase}
.headerTagWithNickname-3l_x6x,.nickname-3M3Jfa{top:-50.5px;left:100px;font-size:20px;position:relative;width:180px;text-transform:lowercase}
.profileBadges-ohc0Vu{position:absolute;top:71px;left:-28px;justify-content:center;transform:scale(0.9)}
.avatar-37jOim{border:6px solid transparent;background-color:transparent}
.avatarPositionNormal-aZjAsn{transform:scale(0.9);top:5px}
.avatarPositionPremium-3We5Ho{top:0;transform:scale(0.9)}
.customStatus-oN4ZZY{margin-top:5px}
.role-2irmRk{background-color:rgba(var(--alt-color),0.2)}
.popoutBannerPremium-1n96gg,.popoutBanner-19WKGg{height:var(--popout-height);border-radius:12px 12px 12px 12px}
.userPopout-xaxa6l{height:var(--popout-height)}
.bodyInnerWrapper-26fQXj{background-color:transparent}
.footer-3UKYOU,.pc-connections .connectedAccounts-QlRa4m:empty::before,.setIdentityLink-1t8Ahd{display:none}
.input-cIJ7To:hover,.input-cIJ7To,.note-1oo11U,.textarea-2r0oV8,.inputDefault-_djjkz,.input-cIJ7To,.scrollbarGhostHairline-1mSOM1{background-color:transparent!important}
.root-217Brm{background-color:var(--background-secondary)!important}
.callContainer-36WRfH,.wrapper-2qzCYF.minimum-28Z35l{min-height:550px}
.controlSection-2h3cS0 .headerWrapper-3NUKsd .container-1r6BKw.transparent-2ZlE3R{background:#1F1F1F;min-height:60px}
.voiceCallWrapper-3kPwHm{transform:scale(1.6);margin-top:4%}
.border-Jn5IOt{left:10px!important;position:absolute}
.colorable-1bkp8v.red-33-Lnk,.colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T{width:90px;height:20px;border-radius:3px;background-color:var(--call-button-red)}
.colorable-1bkp8v.red-33-Lnk.active-1QRrIS,.colorable-1bkp8v.red-33-Lnk:hover{background-color:var(--call-button-red);filter:brightness(92%)}
.quickSelect-3BxO0K{margin-top:10px}
.quickSelectLabel-2r3iJ_{display:none}
.wrapper-3EGhDO::before{content:"|";color:var(--alt-color2);font-size:38px;font-weight:500;position:absolute;top:27px;left:-6.5px}
.contextMenuCaret-3tjo32{margin-left:-38px}
.wrapper-3EGhDO{top:-533px;right:-0;position:fixed}
.controlButton-2MhVEL{margin:0 -3px;transform:scale(0.98)}
.colorable-1bkp8v.primaryDark-3mSFDl{background-color:transparent!important;transform:scale(0.98)}
.colorable-1bkp8v.primaryDark-3mSFDl[aira-label="Turn Off Camera"]{background-color:transparent!important;transform:scale(0.98)}
.controlSection-2h3cS0 .headerWrapper-3NUKsd .title-3qD0b- .toolbar-1t6TWx .iconWrapper-2OrFZ1{left:-250px}
.controlSection-2h3cS0 .headerWrapper-3NUKsd .title-3qD0b- .toolbar-1t6TWx .search-36MZv- .search-2oPWTC .searchBar-3dMhjb{display:none}
[style="position: absolute; left: 92px; bottom: 29.1592px;"]{position:fixed;left:86%!important;top:4%!important}
[class="layer-v9HyYc"][aria-activedescendant="search-results-2"]{position:absolute;left:810px!important;top:59.4773px!important}
.search-2oPWTC .DraftEditor-root .public-DraftStyleDefault-block span{color:#FFF!important}
.searchFilter-2ESiM3{background-color:var(--alt-color2)}
.role-2irmRk{position:relative;overflow:hidden;border:none;padding:5px;filter:saturate(70%);transition:300ms}
.roleCircle-3xAZ1j::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:inherit;opacity:.2;pointer-events:none;filter:saturate(70%);transition:300ms}
.roleCircle-3xAZ1j:hover,.role-2irmRk:hover{filter:saturate(180%);transition:300ms}
.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {background-color: var(--mentioned-hover);}
*::-webkit-scrollbar {display: var(--scrollbars);}
