/* Outdated Version Code*/
:root {
    --theme: "BetterVanilla";
    --build-latest: "001";
    --version-latest: "v0.0.1";
    --version-latest-long: "Version: " var(--version-latest) " (Latest) ";
    --version-long: "Version: " var(--version) " (Current) ";
    --theme-dl: "https://github.com/leeprky/BetterVanilla"
  }
  
  #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before{display:var(--outdated_bettervanilla-001,block)!important;position:absolute;left:10%!important;width:fit-content;border-radius:0 0 12px 12px!important;top:00px!important}
  #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before{content:var(--theme)" Is outdated Or Broken.. Current: ("var(--version)" Build "var(--build)") | Latest: (" var(--version-latest)" Build: "var(--build-latest) ") // Redownload the theme From \""var(--theme-dl)"\"" !important;display:block;background-color:var(--alt-color2);color:#fff;flex-grow:0;flex-shrink:0;font-size:16px;font-weight:500;height:auto;line-height:16px;opacity:1;padding:10px;padding-left:20px;padding-right:20px;position:relative;text-align:center;visibility:unset;white-space:pre-wrap;top:0;left:0;bottom:unset;right:unset;max-width:2000px;min-width:unset;max-height:unset;min-height:unset;transform:unset;animation:unset;z-index:999999;pointer-events:none}
  :root {--version: "UNKOWN"; --build: "UNKNOWN";}
  
  .info-1VyQPT::after {
    content: var(--version-latest-long) !important;
    color: var(--alt-color2);
    opacity: 0.4;
    filter: brightness(160%);
    display: block;
    font-size: 12px;
    font-family: var(--font-primary);
    font-weight: 600;
  }
                .info-1VyQPT::before {
                 content: var(--version-long) !important;
                 color: var(--alt-color2);
                 opacity: 1;
                 filter: brightness(180%);
                 display: block;
                 font-size: 12px;
                 font-family: var(--font-primary);
                 font-weight: 400;
                 position: absolute;
                 margin-top: 67px;
             }
  
       .info-1VyQPT:after {
        content: var(--version-latest-long) !important;
        font-size: 12px !important;
        display: inline !important;
        opacity: 1 !important;
        padding: 0 !important;
        cursor: text !important;
        visibility: visible !important;
        position: relative !important;
        top: unset !important;
        left: unset !important;
        bottom: 1px !important;
        right: unset !important;
        transform: unset !important;
        animation: unset !important;
        text-transform: none !important;
    }
  
   /* Naughty Naughty no no not allowed */
  /*
  .title-3qD0b- { z-index: unset !important;}
  .title-3qD0b- .toolbar-1t6TWx > *:not([id*="-"]) { z-index: 1;}
  .iconWrapper-2OrFZ1[id*="-"] { margin: 0;}
  .iconWrapper-2OrFZ1[id*="-"] svg { display: none;}
  .iconWrapper-2OrFZ1[id*="-"]::after {
      content: "It Looks Like `" var(--theme) "` ("var(--version) "). Detected A Message Logger. To Continue Using "var(--theme)" You Need To Uninstall It In Your File Explorer. Message Loggers Are Violating Peoples Privacy And Are Restricted In My Themes, Thank You."; 
      position: fixed; display: flex;
      top: 0; right: 0; bottom: 0; left: 0; z-index: 1002;
      align-items: center; justify-content: center;
      backdrop-filter: blur(42px);
      background: url('https://i.imgur.com/o2k1elZ.gif') no-repeat;
      background-position: center calc(50% - 190px);
      font-size: 25px; padding: 100px;
      text-align: center;
      color: rgba(var(--alt-color), 1);
      z-index: 9999999;
      border-radius: 8px;
      line-height: 40px;
      pointer-events: none;
  }
  