.avatar-AvHqJA{transform:scale(1.2);margin-left:33.5%;margin-top:1.5%}
.nameTagNoCustomStatus-3IWmZC, .nameTagWithCustomStatus-2kkfrQ{margin-left:-3.5%;margin-top:16.5%;text-align:center;justify-content:center}
.customStatusActivity-nmH3DF{text-align:center;justify-content:center;margin-left:-3.5%}
.tabBar-3nvOPa{justify-content:center}
.badgeList-1R1WgZ{margin-left:-135px}
.note-367eZJ,.userInfoSectionHeader-3TYk6R{display:none}
.form-26zE04,.theme-dark .root-1gCeng{border-radius:12px;min-height:400px;max-height:900px}
