 /* USRBG */
.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d,
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {height: 200px;background: var(--background-floating) var(--user-background) var(--user-popout-position, center) center / cover !important;}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {top: 120px;}
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {height: 240px;}
.popoutBannerPremium-1n96gg {height: 200px;}
.avatarPositionPremium-3We5Ho {top: 160px;}
