.theme-dark .titleBar-AC4pGV > *:nth-child(3) > svg {
   -webkit-mask: url('https://kckarnige.github.io/improved-ui/res/restore.svg');
   background-color: currentColor;
}
.theme-light .titleBar-AC4pGV > *:nth-child(3) > svg {
   -webkit-mask: url('https://kckarnige.github.io/improved-ui/res/restore.svg');
   background-color: currentColor;
}
