#app-mount .titleBar-AC4pGV .winButton-iRh8-Z {
  background: var(--icon) 8px 0/15px 15px no-repeat;
  opacity: 0.75;
  margin-top: 5px;
  left: -9px;
  margin-left: 5px;
  transition: all 0.2s ease;
}


.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  content: var(--watermark-version);
  color: #fff;
  font-family: Discord;
  font-size: 12px;
  width: 10px;
  height: 10px;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
  margin-bottom: 11px;
  margin-left: 4px;
}
.layers-3iHuyZ,
.platform-win .standardSidebarView-3F1I7i {
  border-color: transparent;
  background-color: var(--background-tertiary);
}
.platform-win .layer-3QrUeG {
  background-color: transparent;
}
